Repository neos/neos-development-collection, pull requests merged in 2018-02, with the labels that each got.

#1871 TASK: Enable i18n for node creation dialog
  Neos.Neos/Classes/Aspects/NodeTypeConfigurationEnrichmentAspect.php
  Neos.Neos/Resources/Private/Translations/en/NodeTypes/Document.xlf
Labels: P: Neos, T: PHP, T: UX

#1893 BUGFIX: Fix VH call quote escaping in RelatedAssets.html
  TYPO3.Neos/Resources/Private/Templates/Media/Asset/RelatedNodes.html
Labels: P: Media

#1890 BUGFIX: Flickering upload dropzone in media module
  TYPO3.Neos/Resources/Private/Styles/Media/_Media.scss
  TYPO3.Neos/Resources/Public/Styles/Neos.css
Labels: Bug, P: Media Browser, T: UX

#1762 BUGFIX: Fix asset references detection for nodes
  TYPO3.Neos/Classes/TYPO3/Neos/Controller/Module/Management/AssetController.php
  TYPO3.Neos/Classes/TYPO3/Neos/Domain/Model/Dto/AssetUsageInNodeProperties.php
  TYPO3.Neos/Classes/TYPO3/Neos/Domain/Strategy/AssetUsageInNodePropertiesStrategy.php
  TYPO3.Neos/Classes/TYPO3/Neos/TypoScript/Cache/ContentCacheFlusher.php
  TYPO3.Neos/Resources/Private/Templates/Media/Asset/RelatedNodes.html
Labels: P: Media, T: PHP

#1899 TASK: Document the createNew option in the reference editor
  Neos.Neos/Documentation/References/PropertyEditorReference.rst
Labels: T: Documentation

#1868 BUGFIX: Enforce NodeTreePrivilege when filtering node tree
  TYPO3.Neos/Classes/TYPO3/Neos/Service/View/NodeView.php
Labels: Bug, P: Neos, T: PHP

#1907 BUGFIX: Fix two errors in media management caused by upmerge
  Neos.Media.Browser/Resources/Private/Templates/Asset/RelatedNodes.html
  Neos.Neos/Classes/Domain/Strategy/AssetUsageInNodePropertiesStrategy.php
Labels: Bug, P: Neos, T: PHP

#1876 BUGFIX: Fix site import setup step
  Neos.Neos/Classes/Setup/Step/SiteImportStep.php
Labels: P: Setup

#1917 TASK: Order event log child events by their uid
  TYPO3.Neos/Classes/TYPO3/Neos/EventLog/Domain/Model/Event.php
Labels: P: Neos, T: PHP, T: UX

#1912 TASK: Remove whitespace from history module node link
  TYPO3.Neos/Resources/Private/Templates/Module/Management/History/NodeLink.html
Labels: P: Neos, T: UX
