Repository neos/neos-development-collection, pull requests merged in 2018-08, with the labels that each got.

#2127 BUGFIX: Fix caching of sub node types in NodeTypeManager
  Neos.ContentRepository/Classes/Domain/Service/NodeTypeManager.php
  Neos.ContentRepository/Tests/Unit/Domain/Service/NodeTypeManagerTest.php
Labels: P: Content Repository, T: PHP

#2135 BUGFIX: Fix rendering of page exceptions
  Neos.Fusion/Classes/Core/ExceptionHandlers/HtmlMessageHandler.php
  Neos.Neos/Classes/Fusion/ExceptionHandlers/PageHandler.php
Labels: P: Fusion, P: Neos, T: PHP

#2148 BUGFIX: Fix DocTools settings
  Neos.Media/Configuration/Settings.yaml
Labels: P: Media, T: Documentation

#2142 BUGFIX: Unable to replace asset from the media browser
  Neos.Media/Classes/Domain/Service/AssetService.php
Labels: Bug, P: Media, P: Media Browser

#2151 BUGFIX: Fix NodeTypes.schema.yaml broken by merge
  Neos.Neos/Resources/Private/Schema/NodeTypes.schema.yaml
Labels: P: Neos, T: Testing

#2143 BUGFIX: Unable to search nodes with multiple terms
  Neos.Neos/Classes/Domain/Service/NodeSearchService.php
Labels: Bug, P: Content Repository

#2160 TASK: Update FontAwesome to version 5.2.0
  Neos.Neos/Resources/Public/Library/README.txt
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_icons.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_mixins.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_shims.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_variables.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/brands.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/fontawesome.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/regular.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/solid.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/v4-shims.scss
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.eot
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.svg
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.ttf
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.woff
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.woff2
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.eot
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.svg
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.ttf
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.woff
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.woff2
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.eot
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.svg
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.ttf
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.woff
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.woff2
Labels: P: Neos

#2165 TASK: Change login wallpaper for V 4.1
  Neos.Neos/Resources/Public/Images/Login/Wallpaper.jpg
Labels: P: Neos
