Repository neos/neos-development-collection, pull requests merged in 2018-11, with the labels that each got.

#2232 TASK: Catch error XMLReader when opening XML in site:import
  Neos.Neos/Classes/Domain/Service/SiteImportService.php
Labels: P: Neos, T: PHP

#1860 TASK: Adjust XSD domain to neos.io
  Neos.Neos/Documentation/CreatingASite/RenderingCustomMarkup/Templating.rst
Labels: P: Neos, T: Documentation

#2262 BUGFIX: Allow pinnedDimension argument on itemLabel to be null
  Neos.Neos/Classes/Fusion/DimensionsMenuImplementation.php
Labels: P: Neos, T: PHP

#2267 TASK: Catch error XMLReader when opening XML in site:import
  Neos.Neos/Classes/Domain/Service/SiteImportService.php
Labels: P: Neos, T: PHP

#2265 BUGFIX: Revert supertype behaviour change
  Neos.ContentRepository/Classes/Domain/Model/NodeType.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/FilterOperation.php
  Neos.ContentRepository/Tests/Unit/Domain/Model/NodeTypeTest.php
Labels: P: Content Repository, T: PHP, help wanted

#2278 FEATURE: Health status and proper exit code for node:repair
  Neos.ContentRepository/Classes/Command/EventDispatchingNodeCommandControllerPluginInterface.php
  Neos.ContentRepository/Classes/Command/NodeCommandController.php
  Neos.ContentRepository/Classes/Command/NodeCommandControllerPlugin.php
  Neos.Neos/Classes/Command/NodeCommandControllerPlugin.php
Labels: P: Content Repository, P: Neos, T: PHP
