Repository neos/neos-development-collection, pull requests merged in 2018-06, with the labels that each got.

#2082 BUGFIX: On asset change flush entries tagged with AssetDynamicTag
  TYPO3.Neos/Classes/TYPO3/Neos/TypoScript/Cache/ContentCacheFlusher.php
Labels: P: Fusion, T: PHP

#1159 TASK: Allow DimensionsMenu item label to be overridden in sub class
  Neos.Neos/Classes/Fusion/DimensionsMenuImplementation.php
Labels: P: Fusion, P: Neos, T: Fusion, T: PHP

#2066 TASK: Improve Fusion debugging experience
  Neos.Fusion/Classes/DebugMessage.php
  Neos.Fusion/Classes/FusionObjects/DebugDumpImplementation.php
  Neos.Fusion/Classes/FusionObjects/DebugImplementation.php
  Neos.Fusion/Classes/Service/DebugStack.php
  Neos.Fusion/Resources/Private/Fusion/Root.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/DebugTest.php
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/Debug.fusion
  Neos.Neos/Documentation/References/NeosFusionReference.rst
  Neos.Neos/Resources/Private/Fusion/Prototypes/Page.fusion
Labels: Feature

#1745 FEATURE: Integrate pdf.js to preview PDF in the Media Browser
  Neos.Media.Browser/Classes/Controller/AssetController.php
  Neos.Media.Browser/Gruntfile.js
  Neos.Media.Browser/Resources/Private/Layouts/Default.html
  Neos.Media.Browser/Resources/Private/Layouts/EditImage.html
  Neos.Media.Browser/Resources/Private/Layouts/Module/Default.html
  Neos.Media.Browser/Resources/Private/Layouts/Module/EditImage.html
  Neos.Media.Browser/Resources/Private/Layouts/Module/UploadImage.html
  Neos.Media.Browser/Resources/Private/Layouts/UploadImage.html
  Neos.Media.Browser/Resources/Private/Partials/ContentDefaultPreview.html
  Neos.Media.Browser/Resources/Private/Partials/ContentPdfPreview.html
  Neos.Media.Browser/Resources/Private/Styles/Media/_Media.scss
  Neos.Media.Browser/Resources/Private/Templates/Asset/Edit.html
  Neos.Media.Browser/Resources/Private/Templates/Asset/ReplaceAssetResource.html
  Neos.Media.Browser/Resources/Private/Translations/en/Main.xlf
  Neos.Media.Browser/Resources/Public/JavaScript/edit.js
  Neos.Media.Browser/Resources/Public/JavaScript/pdf.js
  Neos.Media.Browser/Resources/Public/JavaScript/pdf.js.map
  Neos.Media.Browser/Resources/Public/JavaScript/pdf.worker.js
  Neos.Media.Browser/Resources/Public/JavaScript/pdf.worker.js.map
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.css
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.min.css
  Neos.Media.Browser/yarn.lock
Labels: P: Media Browser, T: JS, T: PHP

#2085 BUGFIX: Make sure to materialize as few nodes as possible
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Domain/Model/Node.php
  TYPO3.TYPO3CR/Tests/Unit/Domain/Model/ContextualizedNodeTest.php
Labels: P: Content Repository, T: PHP

#2073 TASK: Fix documentation for inline.editorOptions
  Neos.Neos/Documentation/CreatingASite/NodeTypes/NodeTypeDefinition.rst
Labels: P: Neos, T: Documentation

#2080 BUGFIX: Adjust NodeTypes.schema.yaml in Neos.Neos
  Neos.Neos/Resources/Private/Schema/NodeTypes.schema.yaml
Labels: P: Neos
