Repository neos/neos-development-collection, pull requests merged in 2018-05, with the labels that each got.

#2048 BUGFIX: Use correct cache namespace for redis in documentation
  Neos.Neos/Documentation/CreatingASite/ContentCache.rst
Labels: P: Neos, T: Documentation

#2056 TASK: Adjust test to change in Neos.Neos.Ui
  Neos.Neos/Tests/Functional/Service/Mapping/NodePropertyConverterServiceTest.php
Labels: P: Neos, T: PHP, T: Testing

#2062 BUGFIX: Fix pagination for ListView in Media Browser
  Neos.Media.Browser/Resources/Private/Partials/ListView.html
Labels: P: Media Browser
