Repository neos/neos-development-collection, pull requests merged in 2018-12, with the labels that each got.

#2286 TASK: Continue during create missing child nodes if none defined
  Neos.ContentRepository/Classes/Command/NodeCommandControllerPlugin.php
Labels: P: Content Repository, T: PHP

#2289 BUGFIX: media:removeunused only works with limit flag
  Neos.Media/Classes/Command/MediaCommandController.php
Labels: Bug, P: Media, T: PHP

#2297 BUGFIX: Use nodeType instead of documentNodeType in history translations
  Neos.Neos/Resources/Private/Fusion/Backend/History/Root.fusion
Labels: Bug

#2305 TASK: Documentation tweaks
  Neos.Neos/Classes/Command/SiteCommandController.php
  Neos.Neos/Documentation/Appendixes/ChangeLogs/330.rst
  Neos.Neos/Documentation/Appendixes/ReleaseNotes/320.rst
  Neos.Neos/Documentation/Appendixes/ReleaseNotes/330.rst
  Neos.Neos/Documentation/CreatingASite/NodeTypes/NodeCreationDialog.rst
  Neos.Neos/Documentation/CreatingASite/Security.rst
  Neos.Neos/Documentation/UserGuide/Images/1-toggle-button-menu.png
  Neos.Neos/Documentation/UserGuide/Images/2-navigate.png
  Neos.Neos/Documentation/UserGuide/Images/3-edit-preview.png
  Neos.Neos/Documentation/UserGuide/Images/4-page-tree.png
  Neos.Neos/Documentation/UserGuide/Images/5-publish-button.png
  Neos.Neos/Documentation/UserGuide/Images/6-property-inspector.png
  Neos.Neos/Documentation/UserGuide/Images/7-structure-tree.png
  Neos.Neos/Documentation/UserGuide/Images/8-content-canvas.png
  Neos.Neos/Documentation/UserGuide/Images/9-discard-apply-changes.png
  Neos.Neos/Documentation/UserGuide/Images/UserInterface.png
  Neos.Neos/Documentation/UserGuide/Images/Usersettings-account-edit.png
  Neos.Neos/Documentation/UserGuide/Images/Usersettings-edit.png
  Neos.Neos/Documentation/UserGuide/Images/Usersettings-electronic-adress-add-button.png
  Neos.Neos/Documentation/UserGuide/Images/Usersettings-electronic-adress-add.png
  Neos.Neos/Documentation/UserGuide/Images/Usersettings-language-change.png
  Neos.Neos/Documentation/UserGuide/Images/Usersettings-navigate.png
  Neos.Neos/Documentation/UserGuide/Images/Usersettings-password.png
  Neos.Neos/Documentation/UserGuide/Resources/UserInterface.psd
  Neos.Neos/Documentation/UserGuide/UserInterfaceBasics.rst
  Neos.Neos/Documentation/UserGuide/UserSettings.rst
  Neos.Neos/Documentation/UserGuide/Workspaces.rst
  Neos.Neos/Documentation/UserGuide/index.rst
  Neos.Neos/Documentation/conf.py
  Neos.Neos/Documentation/index.rst
Labels: T: Documentation

#2306 TASK: Remove the feature list
  Neos.Neos/Documentation/GettingStarted/FeatureList.rst
  Neos.Neos/Documentation/GettingStarted/YourFirstSite.rst
  Neos.Neos/Documentation/GettingStarted/index.rst
Labels: T: Documentation

#2307 BUGFIX: Don't create duplicate auto-created child nodes
  Neos.ContentRepository/Classes/Domain/Model/Node.php
Labels: P: Content Repository, T: PHP

#2288 WIP: TASK: Cleanup Node and TraversableNode interfaces
  Neos.ContentRepository/Classes/Domain/Model/Node.php
  Neos.ContentRepository/Classes/Domain/Model/NodeInterface.php
  Neos.ContentRepository/Classes/Domain/Projection/Content/NodeInterface.php
  Neos.ContentRepository/Classes/Domain/Projection/Content/TraversableNodeInterface.php
  Neos.ContentRepository/Classes/Domain/Projection/Content/TraversableNodes.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/ChildrenOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/FindOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/NextAllOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/NextOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/NextUntilOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/ParentOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/ParentsOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/ParentsUntilOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/PrevAllOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/PrevOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/PrevUntilOperation.php
  Neos.ContentRepository/Tests/Functional/AbstractNodeTest.php
  Neos.ContentRepository/Tests/Functional/Eel/FlowQueryOperations/ParentsUntilOperationTest.php
  Neos.ContentRepository/Tests/Functional/Eel/FlowQueryOperations/PrevUntilOperationTest.php
  Neos.ContentRepository/Tests/Unit/Domain/Model/ContextualizedNodeTest.php
  Neos.ContentRepository/Tests/Unit/Domain/Projection/Content/TraversableNodesTest.php
  Neos.Neos/Classes/Domain/Service/SiteImportService.php
  Neos.Neos/Classes/Eel/FlowQueryOperations/ParentsOperation.php
  Neos.Neos/Classes/Eel/FlowQueryOperations/ParentsUntilOperation.php
  Neos.Neos/Classes/Routing/Aspects/RouteCacheAspect.php
Labels: I: WIP
