Repository neos/neos-development-collection, pull requests merged in 2018-07, with the labels that each got.

#2110 TASK: Refactor AssetController in the Media Browser
  Neos.Media.Browser/Classes/Controller/AssetCollectionController.php
  Neos.Media.Browser/Classes/Controller/AssetController.php
  Neos.Media.Browser/Classes/Controller/TagController.php
  Neos.Media.Browser/Classes/Controller/UsageController.php
  Neos.Media.Browser/Configuration/Policy.yaml
  Neos.Media.Browser/Resources/Private/Templates/Asset/Edit.html
  Neos.Media.Browser/Resources/Private/Templates/AssetCollection/Edit.html
  Neos.Media.Browser/Resources/Private/Templates/Tag/Edit.html
  Neos.Media.Browser/Resources/Private/Templates/Usage/RelatedNodes.html
Labels: P: Media Browser, T: PHP

#2053 TASK: Support --node-type for orphanRemoval in node:repair
  Neos.ContentRepository/Classes/Command/NodeCommandControllerPlugin.php
Labels: P: Content Repository, T: PHP

#2097 FEATURE: CacheEntries should respect the workspace they rely on
  Neos.ContentRepository/Classes/Domain/Repository/WorkspaceRepository.php
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
  Neos.Neos/Classes/Fusion/Helper/CachingHelper.php
  Neos.Neos/Documentation/CreatingASite/ContentCache.rst
  Neos.Neos/Resources/Private/Fusion/DefaultFusion.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/ContentCollection.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/Menu.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/Page.fusion
  Neos.Neos/Tests/Functional/Fusion/Cache/ContentCacheFlusherTest.php
  Neos.Neos/Tests/Functional/Fusion/Cache/Fixtures/CacheableNodes.xml
  Neos.Neos/Tests/Unit/Fusion/Cache/ContentCacheFlusherTest.php
  Neos.Neos/Tests/Unit/Fusion/Helper/CachingHelperTest.php
  Neos.NodeTypes.ContentReferences/Resources/Private/Fusion/Root.fusion
  Neos.NodeTypes.Navigation/Resources/Private/Fusion/Root.fusion
Labels: Bug, Feature, P: Fusion, T: PHP

#1995 TASK: Un-remove removed auto created child nodes in node repair
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Command/NodeCommandControllerPlugin.php
Labels: P: Content Repository, T: PHP
