Repository neos/neos-development-collection, pull requests merged in 2018-03, with the labels that each got.

#1911 TASK: Improve history module event labels
  TYPO3.Neos/Resources/Private/Translations/en/Modules.xlf
Labels: P: Neos, T: UX

#1915 TASK: Code cleanup in NodeEvent
  TYPO3.Neos/Classes/TYPO3/Neos/EventLog/Domain/Model/NodeEvent.php
Labels: P: Neos, T: PHP

#1916 BUGFIX: Ensure account identifier is always added to events
  TYPO3.Neos/Classes/TYPO3/Neos/EventLog/Domain/Service/EventEmittingService.php
  TYPO3.Neos/Classes/TYPO3/Neos/EventLog/Integrations/AbstractIntegrationService.php
  TYPO3.Neos/Classes/TYPO3/Neos/EventLog/Integrations/EntityIntegrationService.php
  TYPO3.Neos/Classes/TYPO3/Neos/EventLog/Integrations/TYPO3CRIntegrationService.php
Labels: Bug, P: Neos, T: PHP

#1934 BUGFIX: Filtering of baseNodeType for create new dialog in trees
  TYPO3.Neos/Resources/Public/JavaScript/Content/Navigate/AbstractNodeTree.js
Labels: Bug, P: Neos, T: JS, T: UX

#1910 TASK: Improvements to the UserInitials view helper
  TYPO3.Neos/Classes/TYPO3/Neos/ViewHelpers/Backend/UserInitialsViewHelper.php
Labels: P: Neos, T: PHP, T: UX

#1897 BUGFIX: Add null check in getOtherNodeVariants()
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Domain/Model/Node.php
Labels: P: Content Repository, T: PHP

#1888 !!! TASK: Scope fusion-namespaces to current file and remove default `Neos.Neos`-namespace
  Neos.Fusion/Classes/Core/Parser.php
  Neos.Fusion/Migrations/Code/Version20180211175500.php
  Neos.Fusion/Migrations/Code/Version20180211184832.php
  Neos.Fusion/Tests/Unit/Core/ParserTest.php
  Neos.Neos/Classes/Domain/Service/FusionService.php
  Neos.Neos/Documentation/CreatingASite/Fusion/InsideFusion.rst
  Neos.Neos/Documentation/References/NeosFusionReference.rst
Labels: !!! Next major, P: Fusion, P: Neos, T: Fusion, T: PHP

#1884 FEATURE: Add globbing to `site`,`user` and `domain` cli-commands
  Neos.Neos/Classes/Command/DomainCommandController.php
  Neos.Neos/Classes/Command/SiteCommandController.php
  Neos.Neos/Classes/Command/UserCommandController.php
  Neos.Neos/Documentation/Operations/CommandLine.rst
Labels: Feature, P: Neos, T: PHP

#1951 TASK: Change NodeData movedTo from ManyToOne to OneToOne
  Neos.ContentRepository/Classes/Domain/Model/NodeData.php
Labels: P: Content Repository, T: Database

#1950 TASK: Make sure documentnodeidentifier index is not overlooked
  Neos.Neos/Classes/EventLog/Domain/Model/Event.php
  Neos.Neos/Classes/EventLog/Domain/Model/NodeEvent.php
Labels: P: Neos, T: Database

#1949 TASK: Pass affected entities to flush as array, not one-by-one
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
Labels: P: Content Repository, T: Database, T: PHP

#1697 BUGFIX: Only move children with the same dimensionHash in setPath()
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Domain/Model/AbstractNodeData.php
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Domain/Model/NodeData.php
  TYPO3.TYPO3CR/Tests/Behavior/Features/Basic/MoveNode.feature
  TYPO3.TYPO3CR/Tests/Behavior/Features/Basic/RenameNode.feature
  TYPO3.TYPO3CR/Tests/Behavior/Features/Localization/CopyNodeWithDimensions.feature
  TYPO3.TYPO3CR/Tests/Behavior/Features/Localization/MoveNodeWithDimensions.feature
  TYPO3.TYPO3CR/Tests/Behavior/Features/Localization/RenameNodeWithDimensions.feature
  TYPO3.TYPO3CR/Tests/Behavior/Features/Workspaces/NestedCollectionsWithDimensions.feature
  TYPO3.TYPO3CR/Tests/Behavior/Features/Workspaces/NestedCollectionsWithDimensionsInLayeredWorkspaces.feature
Labels: I: Discussion‌‌, P: Content Repository, T: PHP, help wanted

#1966 BUGFIX: Fix asset references detection for nodes even more
  TYPO3.Neos/Classes/TYPO3/Neos/Controller/Module/Management/AssetController.php
Labels: P: Neos, T: PHP

#1959 FEATURE: Add createMissingSitesNode to node:repair
  Neos.ContentRepository/Classes/Command/NodeCommandControllerPlugin.php
  Neos.Neos/Classes/Command/NodeCommandControllerPlugin.php
Labels: P: Content Repository, P: Neos, T: PHP

#1968 BUGFIX: Typo in WorkspaceException #1395841899
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Domain/Service/PublishingService.php
Labels: P: Content Repository, T: PHP

#1972 BUGFIX: Fix Fusion exception after login to Neos
  Neos.Neos/Resources/Private/Fusion/Prototypes/Page.fusion
Labels: P: Neos, T: Fusion

#1969 TASK: Remove base prototype and template path from autogenerated fusion for Node and Document
  Neos.Neos/Classes/Domain/Service/DefaultContentPrototypeGenerator.php
  Neos.Neos/Classes/Domain/Service/DefaultDocumentPrototypeGenerator.php
  Neos.Neos/Classes/Domain/Service/DefaultPrototypeGenerator.php
Labels: !!! Next major

#1956 TASK: Fix incorrect child node types in ``node:repair`` command
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Command/NodeCommandControllerPlugin.php
Labels: P: Neos, T: PHP

#1957 FEATURE: Expose NodeType.isOfType in Node eel helper
  Neos.Neos/Classes/Fusion/Helper/NodeHelper.php
Labels: Feature, P: Neos, P: Node Types
