Repository neos/neos-development-collection, pull requests merged in 2018-04, with the labels that each got.

#1984 BUGFIX: Avoid getPath() on null in LinkingService
  Neos.Neos/Classes/Service/LinkingService.php
Labels: P: Neos, T: PHP

#1954 TASK: Remove deprecated methods
  Neos.Fusion/Classes/Core/Parser.php
  Neos.Fusion/Classes/Core/Runtime.php
  Neos.Fusion/Classes/Exception/RuntimeException.php
  Neos.Fusion/Classes/FusionObjects/AbstractArrayTypoScriptObject.php
  Neos.Fusion/Classes/FusionObjects/AbstractFusionObject.php
  Neos.Fusion/Classes/FusionObjects/AbstractTypoScriptObject.php
  Neos.Fusion/Classes/FusionObjects/ArrayImplementation.php
  Neos.Fusion/Classes/FusionObjects/Helpers/FluidView.php
  Neos.Fusion/Classes/FusionObjects/Helpers/FusionAwareViewInterface.php
  Neos.Fusion/Classes/FusionObjects/Helpers/TypoScriptAwareViewInterface.php
  Neos.Fusion/Classes/View/TypoScriptView.php
  Neos.Fusion/Classes/ViewHelpers/RenderViewHelper.php
  Neos.Fusion/Configuration/Objects.yaml
  Neos.Neos/Classes/Domain/Model/UserInterfaceMode.php
  Neos.Neos/Classes/Domain/Service/FusionService.php
  Neos.Neos/Classes/Domain/Service/TypoScriptService.php
  Neos.Neos/Classes/Service/ContentElementWrappingService.php
  Neos.Neos/Classes/Service/HtmlAugmenter.php
  Neos.Neos/Classes/View/TypoScriptView.php
  Neos.Neos/Documentation/References/ViewHelpers/Fusion.rst
Labels: T: PHP

#1989 BUGFIX: Remove leftover references to removed `tsValue` method
  Neos.Fusion/Classes/FusionObjects/CanRenderImplementation.php
  Neos.Neos/Classes/Fusion/ImageUriImplementation.php
  Neos.Neos/Documentation/ExtendingNeos/CustomTypoScriptObjects.rst
Labels: Bug, P: Fusion, T: PHP

#1987 BUGFIX: Exclude shadow nodes in findOneByIdentifier
  TYPO3.TYPO3CR/Classes/TYPO3/TYPO3CR/Domain/Repository/NodeDataRepository.php
  TYPO3.TYPO3CR/Tests/Behavior/Features/Basic/MoveNode.feature
Labels: P: Content Repository

#1993 TASK: Update to Doctrine DBAL 2.7 and ORM 2.6
  Neos.ContentRepository/composer.json
  Neos.Fusion/composer.json
  Neos.Media.Browser/composer.json
  Neos.Media/composer.json
  composer.json
Labels: T: Database, T: PHP

#2004 BUGFIX: Adjustments after Doctrine updates
  Neos.ContentRepository/Classes/Command/NodeCommandControllerPlugin.php
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
  Neos.ContentRepository/Classes/Domain/Service/ImportExport/NodeExportService.php
  Neos.ContentRepository/Classes/Domain/Service/ImportExport/NodeImportService.php
  Neos.Media/Classes/Command/MediaCommandController.php
  Neos.Media/Classes/Domain/Repository/AssetRepository.php
  Neos.Media/Classes/Domain/Repository/ThumbnailRepository.php
  Neos.Media/Classes/Security/Authorization/Privilege/Doctrine/AssetAssetCollectionConditionGenerator.php
  Neos.Media/Classes/Security/Authorization/Privilege/Doctrine/AssetTagConditionGenerator.php
  Neos.Media/Classes/Security/Authorization/Privilege/Doctrine/AssetWithoutAssetCollectionConditionGenerator.php
  Neos.Neos/Classes/EventLog/Integrations/ContentRepositoryIntegrationService.php
  Neos.Neos/Classes/EventLog/Integrations/EntityIntegrationService.php
  Neos.Neos/Classes/TYPO3CR/Transformations/AssetTransformation.php
  Neos.Neos/Classes/TYPO3CR/Transformations/ImageVariantTransformation.php
Labels: P: Content Repository, P: Media, P: Neos, T: PHP

#2002 FEATURE: Ability to use SQL in node migration filters
  Neos.ContentRepository/Classes/Migration/Filters/DoctrineFilterInterface.php
  Neos.ContentRepository/Classes/Migration/Filters/NodeType.php
  Neos.ContentRepository/Classes/Migration/Service/NodeFilter.php
  Neos.ContentRepository/Classes/Migration/Service/NodeMigration.php
  Neos.ContentRepository/Classes/Migration/Transformations/RemoveProperty.php
  Neos.ContentRepository/Tests/Functional/Migration/Filters/NodeTypeTest.php
  Neos.ContentRepository/Tests/Functional/Migration/MigrationTest.php
Labels: Feature, P: Content Repository

#1991 !!!TASK: Change default charset and collation to utf8mb4
  Neos.ContentRepository/Migrations/Mysql/Version20110620155001.php
  Neos.ContentRepository/Migrations/Mysql/Version20110920104739.php
  Neos.ContentRepository/Migrations/Mysql/Version20120829124549.php
  Neos.ContentRepository/Migrations/Mysql/Version20140206124123.php
  Neos.Media/Migrations/Mysql/Version20110925123120.php
  Neos.Media/Migrations/Mysql/Version20130522131641.php
  Neos.Media/Migrations/Mysql/Version20130522132835.php
  Neos.Media/Migrations/Mysql/Version20141118172322.php
  Neos.Media/Migrations/Mysql/Version20150507204450.php
  Neos.Media/Migrations/Mysql/Version20150913173832.php
  Neos.Media/Migrations/Mysql/Version20151216052338.php
  Neos.Neos/Documentation/GettingStarted/Installation.rst
  Neos.Neos/Documentation/References/CommandReference.rst
  Neos.Neos/Migrations/Mysql/Version20110620155002.php
  Neos.Neos/Migrations/Mysql/Version20110919164835.php
  Neos.Neos/Migrations/Mysql/Version20110925123119.php
  Neos.Neos/Migrations/Mysql/Version20141114115241.php
  Neos.Neos/Migrations/Mysql/Version20160711103441.php
Labels: P: Content Repository, P: Media, P: Neos, T: Database

#2006 BUGFIX: Show content dimensions with asset usages
  Neos.Neos/Resources/Private/Partials/Module/Shared/NodeContentDimensionsInformation.html
Labels: P: Neos

#2024 TASK: Larger ramfs for PostgreSQL builds on Travis CI
  .travis.yml
Labels: T: Testing

#615 !!! FEATURE: Update auto-created ``Root.fusion`` to use prototypes instead of the ``page`` object
  Neos.SiteKickstarter/Classes/Service/GeneratorService.php
  Neos.SiteKickstarter/Resources/Private/Generator/Configuration/NodeTypes.Document.Page.yaml
  Neos.SiteKickstarter/Resources/Private/Generator/Content/Sites.xml
  Neos.SiteKickstarter/Resources/Private/Generator/Fusion/NodeTypes/Pages/Page.fusion
  Neos.SiteKickstarter/Resources/Private/Generator/Fusion/Root.fusion
Labels: !!! Next major, P: Fusion
