Repository neos/neos-development-collection, pull requests merged in 2018-09, with the labels that each got.

#2171 BUGFIX: Add missing Layout to access mediabrowser from inspector
  Neos.Media.Browser/Resources/Private/Layouts/Default.html
  Neos.Media.Browser/Resources/Private/Layouts/EditImage.html
  Neos.Media.Browser/Resources/Private/Layouts/UploadImage.html
  Neos.Media.Browser/Resources/Private/Templates/Asset/RelatedNodes.html
Labels: Bug, P: Media Browser

#2177 BUGFIX: Avoid fatal error when asset not available
  Neos.Media.Browser/Classes/Controller/AssetController.php
Labels: P: Media Browser, T: PHP

#2183 TASK: Improve documentation on custom React UI development
  Neos.Neos/Documentation/ExtendingNeos/CustomEditors.rst
  Neos.Neos/Documentation/ExtendingNeos/UiExtensibility.rst
Labels: P: Neos, T: Documentation, T: JS

#2181 BUGFIX: Fix condensed layout in Media Browser
  Neos.Media.Browser/Resources/Private/Styles/Media/_Media.scss
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.css
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.min.css
Labels: Bug, P: Media Browser, T: UX
