Repository neos/neos-development-collection, pull requests merged in 2019-11, with the labels that each got.

#2721 TASK: Use RuntimeFactory to create FusionRuntime
  Neos.Fusion/Classes/View/FusionView.php
Labels: P: Fusion

#2737 TASK: Fusion performance optimizations (less calls)
  Neos.Fusion/Classes/Core/Runtime.php
  Neos.Fusion/Tests/Unit/Core/RuntimeTest.php
Labels: P: Fusion, T: PHP

#2766 TASK: Update showInvisible check to be upwards compatible
  Neos.Neos/Classes/Controller/Frontend/NodeController.php
Labels: P: Neos, T: PHP

#2735 BUGFIX: MariaDB 10.4 compatibility for events migration
  Neos.Neos/Migrations/Mysql/Version20150224171107.php
  Neos.Neos/Migrations/Mysql/Version20150309215317.php
Labels: Bug

#2727 BUGFIX: Add missing translation in pagination
  Neos.ContentRepository/Resources/Private/Templates/ViewHelpers/Widget/Paginate/Index.html
Labels: Bug

#2762 BUGFIX: Change return types of some Fusion methods to mixed
  Neos.Fusion/Classes/Core/Runtime.php
  Neos.Fusion/Classes/View/FusionView.php
  Neos.Fusion/Classes/ViewHelpers/RenderViewHelper.php
Labels: Bug, T: Fusion

#2778 BUGFIX: Fix default variable value
  Neos.Neos/Classes/Controller/Module/Administration/SitesController.php
Labels: P: Neos, T: PHP

#2787 BUGFIX: Fix links and outdated docs in NodeTypeDefinition
  Neos.Neos/Documentation/References/NodeTypeDefinition.rst
Labels: Bug, T: Documentation
