Repository neos/neos-development-collection, pull requests merged in 2019-09, with the labels that each got.

#2673 BUGFIX: Updating an asset throws an exception due to unavailable translation
  Neos.Media.Browser/Classes/Controller/AssetController.php
Labels: P: Media Browser, T: PHP

#2676 BUGFIX: Fix PluginImplementation unit test
  Neos.Neos/Tests/Unit/Fusion/PluginImplementationTest.php
Labels: P: Neos, T: Testing

#2674 BUGFIX: Add missing controller to edit forms
  Neos.Media.Browser/Resources/Private/Templates/AssetCollection/Edit.html
  Neos.Media.Browser/Resources/Private/Templates/Tag/Edit.html
Labels: Bug, P: Media Browser

#2675 BUGFIX: HTML augmenter preserves multibyte characters in attributes
  Neos.Fusion/Classes/Service/HtmlAugmenter.php
  Neos.Fusion/Tests/Unit/Service/HtmlAugmenterTest.php
Labels: Bug, P: Fusion, T: Fusion

#2679 BUGFIX: Site imports with cropped images
  Neos.Media/Classes/TypeConverter/AspectRatioFromStringConverter.php
Labels: P: Media, T: PHP

#2385 !!!TASK: Migrate extracted NodeTypes from Neos.NodeTypes to subpackage namespace
  Neos.Neos/Configuration/Testing/NodeTypes.yaml
  Neos.Neos/Tests/Behavior/Features/Content/PublishUserWorkspace.feature
  Neos.NodeTypes/Configuration/NodeTypes.Content.Overrides.yaml
  Neos.NodeTypes/Migrations/ContentRepository/Version20190304111200.yaml
  Neos.NodeTypes/Readme.rst
  Neos.NodeTypes/Resources/Private/Fusion/NodeTypes/Overrides.fusion
Labels: !!! Next major, P: Node Types

#2690 BUGFIX: Add the last visited node handler
  Neos.Neos/Resources/Public/JavaScript/LastVisitedNode.js
Labels: Bug

#2688 BUGFIX: Synchronize react-ui menu state with vanilla js
  Neos.Neos/Resources/Public/JavaScript/Components/TopBar/MenuPanel.js
  Neos.Neos/Resources/Public/JavaScript/Helper/getCollectionValueByPath.js
  Neos.Neos/Resources/Public/JavaScript/Helper/index.js
  Neos.Neos/Resources/Public/JavaScript/Main.min.js
Labels: Bug

#2691 BUGFIX: Translate labels when modifying tag and collections
  Neos.Media.Browser/Classes/Controller/AddFlashMessageTrait.php
  Neos.Media.Browser/Classes/Controller/AssetCollectionController.php
  Neos.Media.Browser/Classes/Controller/AssetController.php
  Neos.Media.Browser/Classes/Controller/TagController.php
Labels: Bug

#2683 TASK: Convert ui.aloha to ui.inline.editorOptions
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Resources/Private/Schema/NodeTypes.schema.yaml
  Neos.NodeTypes.AssetList/composer.json
  Neos.NodeTypes.BaseMixins/Configuration/NodeTypes.Mixin.ImageCaption.yaml
  Neos.NodeTypes.BaseMixins/Configuration/NodeTypes.Mixin.Text.yaml
  Neos.NodeTypes.BaseMixins/Configuration/NodeTypes.Mixin.Title.yaml
  Neos.NodeTypes.BaseMixins/composer.json
  Neos.NodeTypes.ColumnLayouts/composer.json
  Neos.NodeTypes.ContentReferences/composer.json
  Neos.NodeTypes.Form/composer.json
  Neos.NodeTypes.Html/composer.json
  Neos.NodeTypes.Navigation/composer.json
  Neos.NodeTypes/composer.json
Labels: P: Node Types

#2693 TASK: Adapt to Flow base URI change
  Neos.Neos/Classes/Service/LinkingService.php
  Neos.Neos/Tests/Functional/Service/LinkingServiceTest.php
  Neos.Neos/Tests/Functional/ViewHelpers/Link/NodeViewHelperTest.php
  Neos.Neos/Tests/Functional/ViewHelpers/Uri/NodeViewHelperTest.php
Labels: P: Neos, T: PHP

#2687 BUGFIX: Repair language label handling
  Neos.Neos/Classes/Service/XliffService.php
  Neos.Neos/Classes/ViewHelpers/Backend/XliffCacheVersionViewHelper.php
  Neos.Neos/Resources/Private/Templates/Backend/Module/Index.html
  Neos.Neos/Resources/Public/JavaScript/LegacyUiBootstrap-built.js
  Neos.Neos/Resources/Public/JavaScript/Shared/I18n.js
Labels: Bug, P: Neos, T: JS, T: PHP

#2692 TASK: Remove Neos.NodeTypes uses from comments, docs, tests
  Neos.ContentRepository/Classes/Command/NodeCommandController.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/FilterOperation.php
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/FindOperation.php
  Neos.ContentRepository/Tests/Functional/AbstractNodeTest.php
  Neos.ContentRepository/Tests/Unit/Domain/Service/ImportExport/Fixtures/NodesWithArrayProperties.xml
  Neos.ContentRepository/Tests/Unit/Domain/Service/ImportExport/Fixtures/NodesWithEmptyProperty.xml
  Neos.ContentRepository/Tests/Unit/Domain/Service/ImportExport/Fixtures/SingleNode.xml
  Neos.ContentRepository/Tests/Unit/Domain/Service/ImportExport/Fixtures/SingleNodeWithLinebreaks.xml
  Neos.ContentRepository/Tests/Unit/Domain/Service/ImportExport/Fixtures/SingleNodeWithoutIdentifier.xml
  Neos.ContentRepository/Tests/Unit/Domain/Service/ImportExport/NodeImportServiceTest.php
  Neos.Fusion/Classes/Core/Cache/ContentCache.php
  Neos.Fusion/Tests/Unit/Core/Cache/ContentCacheTest.php
  Neos.Neos/Classes/Command/SiteCommandController.php
  Neos.Neos/Configuration/NodeTypes.Document.yaml
  Neos.SiteKickstarter/Resources/Private/Generator/Configuration/NodeTypes.Document.Page.yaml
Labels: !!! Next major, P: Content Repository, P: Fusion, P: Neos, P: Site Kickstarter, T: Documentation, T: PHP, T: Testing

#2570 !!! BUGFIX: Fix languages fallback order
  Neos.Neos/Classes/View/FusionView.php
Labels: !!! Next major, P: Neos, T: PHP

#2700 BUGFIX: Avoid count() call on null
  Neos.Diff/Classes/SequenceMatcher.php
Labels: Bug, T: PHP

#2698 !!! FEATURE: Alter ``Neos.Fusion:Tag.attributes`` to ``Neos.Fusion:DataStructure``
  Neos.Fusion/Classes/FusionObjects/AttributesImplementation.php
  Neos.Fusion/Classes/FusionObjects/TagImplementation.php
  Neos.Fusion/Resources/Private/Fusion/Root.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/Tag.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/TagTest.php
  Neos.Neos/Documentation/References/NeosFusionReference.rst
  Neos.Neos/Resources/Private/Fusion/Prototypes/ContentCollection.fusion
Labels: P: Fusion, T: Fusion

#2701 !!! FEATURE: Add getVariant(string, string) to VariantSupportInterface
  Neos.Media/Classes/Domain/Model/Image.php
  Neos.Media/Classes/Domain/Model/VariantSupportInterface.php
Labels: !!! Next major, P: Media, T: PHP

#2702 BUGFIX: CropIimageAdjustment::refit only produces int sizes
  Neos.Media/Classes/Domain/Model/Adjustment/CropImageAdjustment.php
Labels: P: Media, T: PHP

#2704 !!! TASK: Add code migration to rename nodetypes that were extracted from Neos.NodeTypes to subpackages
  Neos.NodeTypes/Migrations/Code/Version20190917101945.php
  Neos.NodeTypes/Migrations/ContentRepository/Version20190304111200.yaml
Labels: !!! Next major, I: Discussion‌‌, P: Fusion, P: Node Types

#2706 BUGFIX: PaginateViewHelper in CR calls method on string
  Neos.ContentRepository/Classes/ViewHelpers/Widget/PaginateViewHelper.php
Labels: P: Content Repository, T: PHP

#2709 BUGFIX: Remove Connection::PARAM_STR_ARRAY hint
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
Labels: P: Content Repository, T: PHP

#2713 BUGFIX: PaginateViewHelper in CR calls method on string
  Neos.ContentRepository/Classes/ViewHelpers/Widget/PaginateViewHelper.php
Labels: P: Content Repository, T: PHP

#2712 BUGFIX: Remove introduced integer type setting
  Neos.Neos/Configuration/Testing/NodeTypes.yaml
  Neos.Neos/Tests/Functional/Service/NodeTypeSchemaBuilderTest.php
Labels: P: Neos, T: Testing
