Repository neos/neos-development-collection, pull requests merged in 2019-10, with the labels that each got.

#2717 !!!TASK: Fix getVariant() return type
  Neos.Media/Classes/Domain/Model/Image.php
  Neos.Media/Classes/Domain/Model/VariantSupportInterface.php
Labels: P: Media, T: PHP

#2728 FEATURE: Add `Neos.Fusion:Fragment` prototype
  Neos.Fusion/Resources/Private/Fusion/Root.fusion
  Neos.Neos/Documentation/References/NeosFusionReference.rst
Labels: Feature, P: Fusion

#2725 TASK: Make countAll() in AssetRepository work as expected for subclasses
  Neos.Media/Classes/Domain/Repository/AssetRepository.php
Labels: P: Media, T: PHP

#2743 BUGFIX: Always select local original asset in media browser
  Neos.Media/Classes/Domain/Repository/ImportedAssetRepository.php
  Neos.Media/Tests/Functional/Domain/Repository/ImportedAssetRepositoryTest.php
Labels: P: Media, T: PHP

#2746 BUGFIX: Call PSR logger with warning directly
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
Labels: P: Neos, T: PHP

#2733 TASK: Fix return value of getArguments() to be array
  Neos.Fusion/Classes/FusionObjects/UriBuilderImplementation.php
Labels: P: Fusion, T: PHP

#2747 BUGFIX: Add type="text" to title input field
  Neos.Media.Browser/Resources/Private/Templates/Asset/Show.html
Labels: P: Media Browser

#2749 BUGFIX: Adjust wrong parameters for log call
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
Labels: P: Neos, T: PHP

#2722 TASK: Add quiet flag to all Neos.Media CLI commands
  Neos.Media/Classes/Command/MediaCommandController.php
Labels: P: Media, T: PHP, T: UX

#2755 DOCS: Use working examples in VariantPresets documentation and mention the variants tab settings
  Neos.Media/Documentation/VariantPresets.rst
Labels: P: Media, T: Documentation

#2716 TASK: Asset variant tweaks
  Neos.Media/Classes/Domain/Model/Adjustment/AbstractAdjustment.php
  Neos.Media/Classes/Domain/Model/Adjustment/AbstractImageAdjustment.php
  Neos.Media/Classes/Domain/Model/Adjustment/AdjustmentInterface.php
  Neos.Media/Classes/Domain/Model/Adjustment/CropImageAdjustment.php
  Neos.Media/Classes/Domain/Model/Adjustment/ImageAdjustmentInterface.php
  Neos.Media/Classes/Domain/Model/Adjustment/QualityImageAdjustment.php
  Neos.Media/Classes/Domain/Model/Adjustment/ResizeImageAdjustment.php
  Neos.Media/Classes/Domain/Model/Dto/UsageReference.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/Adjustment.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/README.md
  Neos.Media/Classes/Domain/ValueObject/Configuration/Variant.php
Labels: P: Media, T: Documentation, T: PHP

#2723 TASK: Code cleanup in Neos.Media repositories
  Neos.Media/Classes/Domain/Repository/AssetRepository.php
  Neos.Media/Classes/Domain/Repository/ImportedAssetRepository.php
  Neos.Media/Classes/Domain/Repository/TagRepository.php
  Neos.Media/Classes/Domain/Repository/ThumbnailRepository.php
Labels: P: Media, T: PHP
