Repository neos/neos-development-collection, pull requests merged in 2019-05, with the labels that each got.

#2478 TASK: Limit parentpath index length through annotation
  Neos.ContentRepository/Classes/Domain/Model/NodeData.php
Labels: P: Content Repository, T: Database, T: PHP

#2484 BUGFIX: Avoid PHP exception in NamespaceDetectionTemplateProcessor
  Neos.Neos/Resources/Private/Templates/Backend/Module/Index.html
Labels: P: Neos

#2495 TASK: Avoid deprecated method in AuthenticationManager
  Neos.Neos/Classes/Domain/Service/UserService.php
Labels: P: Neos, T: PHP

#2501 BUGFIX: Remove usage of getproviders from UserController
  Neos.Neos/Classes/Controller/Module/Administration/UsersController.php
Labels: P: Neos, T: PHP

#2493 TASK: Exchange injection of PsrSystemLoggerInterface to LoggerInterface
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
  Neos.ContentRepository/Classes/Domain/Service/Context.php
  Neos.Fusion/Classes/Core/ExceptionHandlers/AbsorbingHandler.php
  Neos.Media/Classes/Domain/Model/Asset.php
  Neos.Media/Classes/Domain/Model/ImportedAssetManager.php
  Neos.Media/Classes/Domain/Service/AssetSourceService.php
  Neos.Neos/Classes/Routing/FrontendNodeRoutePartHandler.php
  Neos.Neos/Classes/Service/LinkingService.php
  Neos.Neos/Classes/Service/View/NodeView.php
  Neos.Neos/Tests/Unit/Routing/FrontendNodeRoutePartHandlerTest.php
Labels: !!! Next major, T: PHP

#2500 TASK: Updated fontawesome to 5.8 for old UI
  Neos.Neos/Resources/Private/Styles/_Constants.scss
  Neos.Neos/Resources/Private/Styles/_General.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_icons.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_mixins.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_rotated-flipped.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/_variables.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/brands.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/fontawesome.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/regular.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/solid.scss
  Neos.Neos/Resources/Public/Library/fontawesome/scss/v4-shims.scss
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.eot
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.svg
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.ttf
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.woff
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-brands-400.woff2
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.eot
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.svg
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.ttf
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.woff
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-regular-400.woff2
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.eot
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.svg
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.ttf
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.woff
  Neos.Neos/Resources/Public/Library/fontawesome/webfonts/fa-solid-900.woff2
  Neos.Neos/Resources/Public/Styles/Error.css
  Neos.Neos/Resources/Public/Styles/Includes-built.css
  Neos.Neos/Resources/Public/Styles/Login.css
  Neos.Neos/Resources/Public/Styles/Neos.css
Labels: P: Neos, T: UX

#2489 BUGFIX: Make exception for non renderable fusion path more helpful
  Neos.Fusion/Classes/Core/Runtime.php
Labels: Bug, P: Fusion

#2505 TASK: Add flowQuery `q` helper to the Eel configuration
  Neos.ContentRepository/Configuration/Settings.yaml
  Neos.Fusion/Configuration/Settings.yaml
  Neos.Fusion/Resources/Private/Schema/Settings.schema.yaml
Labels: !!! Next major, P: Fusion

#2502 BUGFIX: Assigned asset collections cannot be unassigned
  Neos.Media/Classes/Domain/Model/Asset.php
  Neos.Media/Classes/Domain/Model/AssetCollection.php
Labels: Bug, P: Media, P: Neos

#2507 BUGFIX: Accept valid settings rejected by broken schema
  Neos.Fusion/Resources/Private/Schema/Settings.schema.yaml
Labels: P: Fusion

#2403 BUGFIX: Use countAll of AssetRepository to get count of all assets
  Neos.Media.Browser/Classes/Controller/AssetController.php
Labels: Bug, I: Needs feedback, P: Media, T: PHP

#2483 TASK: Add setNoOpener property to Neos.Neos:ConvertUris documentation
  Neos.Neos/Documentation/References/NeosFusionReference.rst
Labels: T: Documentation

#2497 FEATURE: Implement pager, ordering and search in user management module
  Neos.Neos/Classes/Controller/Module/Administration/UsersController.php
  Neos.Neos/Classes/Domain/Repository/UserRepository.php
  Neos.Neos/Classes/Domain/Service/UserService.php
  Neos.Neos/Resources/Private/Styles/Modules/_Modules.scss
  Neos.Neos/Resources/Private/Templates/Module/Administration/Users/Index.html
  Neos.Neos/Resources/Public/Styles/Includes-built.css
  Neos.Neos/Resources/Public/Styles/Neos.css
Labels: Feature, P: Neos

#2506 TASK: Remove arguments from VH render methods
  Neos.ContentRepository/Classes/ViewHelpers/Widget/PaginateViewHelper.php
  Neos.Fusion/Classes/ViewHelpers/RenderViewHelper.php
  Neos.Media.Browser/Classes/ViewHelpers/PaginateViewHelper.php
  Neos.Media.Browser/Classes/ViewHelpers/ThumbnailViewHelper.php
  Neos.Media/Classes/ViewHelpers/FileTypeIconViewHelper.php
  Neos.Media/Classes/ViewHelpers/Form/CheckboxViewHelper.php
  Neos.Media/Classes/ViewHelpers/Format/RelativeDateViewHelper.php
  Neos.Media/Classes/ViewHelpers/ImageViewHelper.php
  Neos.Media/Classes/ViewHelpers/ThumbnailViewHelper.php
  Neos.Media/Classes/ViewHelpers/Uri/ImageViewHelper.php
  Neos.Media/Classes/ViewHelpers/Uri/ThumbnailViewHelper.php
  Neos.Media/Tests/Unit/ViewHelpers/ImageViewHelperTest.php
  Neos.Media/Tests/Unit/ViewHelpers/Uri/ImageViewHelperTest.php
  Neos.Neos/Classes/ViewHelpers/Backend/AuthenticationProviderLabelViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Backend/ChangeStatsViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Backend/ColorOfStringViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Backend/ConfigurationTreeViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Backend/ContainerViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Backend/DocumentBreadcrumbPathViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Backend/JavascriptConfigurationViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Backend/UserInitialsViewHelper.php
  Neos.Neos/Classes/ViewHelpers/ContentElement/EditableViewHelper.php
  Neos.Neos/Classes/ViewHelpers/ContentElement/WrapViewHelper.php
  Neos.Neos/Classes/ViewHelpers/GetTypeViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Link/ModuleViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Link/NodeViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Node/ClosestDocumentViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Rendering/InBackendViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Rendering/InEditModeViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Rendering/InPreviewModeViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Rendering/LiveViewHelper.php
  Neos.Neos/Classes/ViewHelpers/StandaloneViewViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Uri/ModuleViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Uri/NodeViewHelper.php
  Neos.Neos/Tests/Functional/ViewHelpers/Link/NodeViewHelperTest.php
  Neos.Neos/Tests/Functional/ViewHelpers/Uri/NodeViewHelperTest.php
  Neos.Neos/Tests/Unit/ViewHelpers/ContentElement/EditableViewHelperTest.php
  Neos.Neos/Tests/Unit/ViewHelpers/Link/ModuleViewHelperTest.php
  Neos.Neos/Tests/Unit/ViewHelpers/Uri/ModuleViewHelperTest.php
Labels: P: Content Repository, P: Fusion, P: Media, P: Media Browser, P: Neos, T: PHP, T: Testing

#2519 TASK: Use PackageManager, not PackageManagerInterface
  Neos.ContentRepository/Classes/Migration/Configuration/YamlConfiguration.php
  Neos.ContentRepository/Classes/Package.php
  Neos.ContentRepository/Tests/Functional/AbstractNodeTest.php
  Neos.Fusion/Classes/Package.php
  Neos.Media.Browser/Classes/Controller/AssetController.php
  Neos.Media/Classes/Domain/Service/AssetService.php
  Neos.Neos/Classes/Command/SiteCommandController.php
  Neos.Neos/Classes/Controller/Module/Administration/PackagesController.php
  Neos.Neos/Classes/Controller/Module/Administration/SitesController.php
  Neos.Neos/Classes/Domain/Service/FusionService.php
  Neos.Neos/Classes/Domain/Service/SiteExportService.php
  Neos.Neos/Classes/Domain/Service/SiteImportService.php
  Neos.Neos/Classes/Setup/Step/NeosSpecificRequirementsStep.php
  Neos.Neos/Classes/Setup/Step/SiteImportStep.php
  Neos.SiteKickstarter/Classes/Command/KickstartCommandController.php
  Neos.SiteKickstarter/Classes/Service/GeneratorService.php
Labels: !!! Next major, P: Content Repository, P: Fusion, P: Media, P: Neos, P: Site Kickstarter, T: PHP

#2208 TASK: Correct method signature of DataSourceInterface
  Neos.Neos/Classes/Service/DataSource/DataSourceInterface.php
  Neos.NodeTypes.Form/Classes/Service/DataSource/FormDefinitionDataSource.php
Labels: !!! Next major, P: Neos, P: Node Types, T: PHP

#2522 !!! TASK: Remove ConvertNodeUrisImplementation
  Neos.Neos/Classes/Fusion/ConvertNodeUrisImplementation.php
Labels: !!! Next major, P: Neos, T: PHP

#2521 !!! TASK: Remove discardall & publishall CLI commands
  Neos.Neos/Classes/Command/WorkspaceCommandController.php
Labels: !!! Next major, P: Neos, T: PHP

#2525 BUGFIX: Fix regression in ViewHelpers (render args removal)
  Neos.Media.Browser/Classes/ViewHelpers/PaginateViewHelper.php
  Neos.Media/Classes/ViewHelpers/FileTypeIconViewHelper.php
  Neos.Media/Classes/ViewHelpers/Format/RelativeDateViewHelper.php
Labels: P: Media, P: Media Browser, T: PHP

#2523 BUGFIX: Changed Domains by UriConstraints will not no longer get destroyed by the LinkingService
  Neos.Neos/Classes/Service/LinkingService.php
Labels: P: Neos, T: PHP

#2526 !!! TASK: Remove deprecated registerAssetResourceChange() slot
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
Labels: !!! Next major, P: Neos, T: PHP

#2487 !!!TASK: Disable and deprecate plugin and content prototype generators
  Neos.Neos/Classes/Domain/Service/DefaultContentPrototypeGenerator.php
  Neos.Neos/Classes/Domain/Service/DefaultDocumentPrototypeGenerator.php
  Neos.Neos/Classes/Domain/Service/DefaultPluginPrototypeGenerator.php
  Neos.Neos/Classes/Domain/Service/DefaultPrototypeGenerator.php
  Neos.Neos/Configuration/NodeTypes.Content.yaml
  Neos.Neos/Configuration/NodeTypes.Document.yaml
  Neos.Neos/Configuration/NodeTypes.Plugin.yaml
  Neos.Neos/Configuration/Testing/NodeTypes.yaml
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Base.fusion
  Neos.NodeTypes.AssetList/Configuration/Settings.yaml
  Neos.NodeTypes.AssetList/Resources/Private/Fusion/Root.fusion
  Neos.NodeTypes.Html/Configuration/Settings.yaml
  Neos.NodeTypes.Html/Resources/Private/Fusion/Html.fusion
  Neos.NodeTypes.Html/Resources/Private/Fusion/Root.fusion
  Neos.NodeTypes/Resources/Private/Fusion/NodeTypes/Headline.fusion
  Neos.NodeTypes/Resources/Private/Fusion/NodeTypes/Image.fusion
  Neos.NodeTypes/Resources/Private/Fusion/NodeTypes/Overrides.fusion
  Neos.NodeTypes/Resources/Private/Fusion/NodeTypes/Text.fusion
  Neos.NodeTypes/Resources/Private/Fusion/NodeTypes/TextWithImage.fusion
Labels: !!! Next major, P: Node Types

#2527 BUGFIX: Flush affected document node on asset change
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
Labels: P: Neos, T: PHP
