Repository neos/neos-development-collection, pull requests merged in 2019-12, with the labels that each got.

#2769 BUGFIX: Replace $this->systemLogger by $this->logger in LoginController
  Neos.Neos/Classes/Controller/LoginController.php
Labels: Bug

#2784 FEATURE: Increasing the contrast in module tables
  .editorconfig
  Neos.Neos/Resources/Private/Styles/Modules/_Modules.scss
  Neos.Neos/Resources/Private/Styles/_Constants.scss
  Neos.Neos/Resources/Public/JavaScript/Main.min.js
  Neos.Neos/Resources/Public/Styles/Error.css
  Neos.Neos/Resources/Public/Styles/Login.css
  Neos.Neos/Resources/Public/Styles/Main.css
Labels: Feature, P: Neos, T: UX

#2790 TASK: Remove showInvisible query parameter handling again
  Neos.Neos/Classes/Controller/Frontend/NodeController.php
Labels: P: Neos, T: PHP

#2764 BUGFIX: Allow HtmlAugmenter operate on script tags
  Neos.Fusion/Classes/Service/HtmlAugmenter.php
  Neos.Fusion/Tests/Unit/Service/HtmlAugmenterTest.php
Labels: P: Fusion, T: PHP

#2582 BUGFIX: Allow content cache flush for asset references in other use workspaces
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
Labels: P: Neos, T: PHP

#2771 BUGFIX: Handle unavailable asset proxies in edit view
  Neos.Media.Browser/Classes/Controller/AssetController.php
  Neos.Media.Browser/Resources/Private/Templates/Asset/Edit.html
Labels: P: Media Browser, T: PHP

#2729 FEATURE: `DataStructure` assumes nesting for subkeys without specified type
  Neos.Fusion/Classes/FusionObjects/DataStructureImplementation.php
  Neos.Fusion/Tests/Functional/FusionObjects/DataStructureTest.php
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/DataStructure.fusion
  Neos.Fusion/Tests/Unit/FusionObjects/ArrayImplementationTest.php
  Neos.Fusion/Tests/Unit/FusionObjects/DataStructureImplementationTest.php
Labels: Feature, I: Discussion‌‌, P: Fusion, T: Fusion

#2685 FEATURE: add index to column path on nodedata table
  Neos.ContentRepository/Classes/Domain/Model/NodeData.php
  Neos.ContentRepository/Migrations/Mysql/Version20190905074145.php
  Neos.ContentRepository/Migrations/Postgresql/Version20190905074146.php
Labels: P: Content Repository, T: Database

#2751 FEATURE: Batch rendering of asset variants
  Neos.Media/Classes/Command/MediaCommandController.php
  Neos.Media/Classes/Domain/Model/Image.php
  Neos.Media/Classes/Domain/Repository/AssetRepository.php
  Neos.Media/Classes/Domain/Repository/ImageRepository.php
  Neos.Media/Classes/Domain/Service/AssetService.php
  Neos.Media/Classes/Domain/Service/AssetVariantGenerator.php
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
  Neos.Media/Tests/Unit/Domain/Service/AssetVariantGeneratorTest.php
Labels: P: Media, T: PHP

#2734 TASK: Fusion performance optimization (get configuration)
  Neos.Fusion/Classes/Core/Runtime.php
  Neos.Fusion/Classes/Core/RuntimeConfiguration.php
  Neos.Fusion/Tests/Unit/Core/ParserTest.php
  Neos.Fusion/Tests/Unit/Core/RuntimeConfigurationTest.php
Labels: P: Fusion, T: PHP

#2810 TASK: Render headerComment from Settings instead of fluid-template
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Resources/Private/Fusion/Backend/Views/Login.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/Page.fusion
  Neos.Neos/Resources/Private/Templates/FusionObjects/NeosLicenseHeader.html
Labels: P: Fusion, P: Neos

#2813 BUGFIX: Add leave statements for apply early returns
  Neos.Fusion/Classes/Core/Runtime.php
Labels: P: Fusion, T: PHP

#2781 BUGFIX: Set default ratio mode in ResizeImageAdjustment
  Neos.Media/Classes/Domain/Model/Adjustment/ResizeImageAdjustment.php
  Neos.Media/Migrations/Mysql/Version20191125132700.php
  Neos.Media/Migrations/Postgresql/Version20191125132701.php
Labels: P: Media, T: Database, T: PHP

#2783 TASK: Cleanup thumbnail service code
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
Labels: P: Media, T: PHP

#2834 BUGFIX: Invalid ratio mode during site import
  Neos.Media/Classes/Domain/Model/Adjustment/ResizeImageAdjustment.php
Labels: P: Media, T: PHP

#2736 BUGFIX: #2664 set position to PHP_INT_MAX if nodeDimensionValue is no…
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
Labels: P: Content Repository, T: PHP

#2840 BUGFIX: Add FlowAnnotationDriver import to AssetRepository
  Neos.Media/Classes/Domain/Repository/AssetRepository.php
Labels: P: Media, T: PHP

#2838 BUGFIX: Avoid null as argument to recreateVariant()
  Neos.Media/Classes/Domain/Service/AssetService.php
Labels: P: Media, T: PHP

#2844 BUGFIX: Adjust PluginViewImplementation to PSR-7
  Neos.Neos/Classes/Fusion/PluginViewImplementation.php
Labels: Bug, P: Neos, T: PHP

#2843 BUGFIX: Avoid isRemoved() call on null
  Neos.Neos/Classes/Service/PluginService.php
Labels: Bug, P: Neos, T: PHP
