Repository neos/neos-development-collection, pull requests merged in 2019-02, with the labels that each got.

#2300 BUGFIX: Handle maximum cache lifetime of 0
  Neos.Fusion/Classes/Core/Cache/RuntimeContentCache.php
  Neos.Fusion/Tests/Functional/FusionObjects/ContentCacheTest.php
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/ContentCache.fusion
Labels: Bug, P: Fusion, T: PHP

#2365 BUGFIX: Avoid server-error when invalid/deleted identifiers are passed to the node service
  Neos.Neos/Classes/Controller/Service/NodesController.php
Labels: Bug, P: Neos, T: PHP

#2382 TASK: More adjustments to Behat code
  Neos.ContentRepository/Tests/Behavior/Features/Basic/DefaultNodeValues.feature
  Neos.ContentRepository/Tests/Behavior/Features/Basic/PublishUserWorkspace.feature
  Neos.ContentRepository/Tests/Behavior/Features/Bootstrap/NodeAuthorizationTrait.php
  Neos.ContentRepository/Tests/Behavior/Features/Bootstrap/NodeOperationsTrait.php
  Neos.ContentRepository/Tests/Behavior/Features/Constraints/ChildNodeConstraints.feature
  Neos.ContentRepository/Tests/Behavior/Features/Security/CreateNodePrivilege.feature
  Neos.ContentRepository/Tests/Behavior/Features/Security/EditNodePrivilege.feature
  Neos.ContentRepository/Tests/Behavior/Features/Security/EditNodePrivilegeBasedOnDimension.feature
  Neos.ContentRepository/Tests/Behavior/Features/Security/EditNodePropertiesPrivilege.feature
  Neos.ContentRepository/Tests/Behavior/Features/Security/ReadNodePropertiesPrivilege.feature
  Neos.ContentRepository/Tests/Behavior/Features/Security/RemoveNodePrivilege.feature
  Neos.ContentRepository/Tests/Functional/Command/BehatTestHelper.php
  Neos.Neos/Tests/Behavior/Features/Bootstrap/FeatureContext.php
  Neos.Neos/Tests/Behavior/Features/Security/NodeTreePrivilege.feature
  Neos.Neos/Tests/Functional/Command/BehatTestHelper.php
Labels: P: Content Repository, P: Neos, T: PHP, T: Testing
