Repository neos/neos-development-collection, pull requests merged in 2019-01, with the labels that each got.

#2338 TASK: Remove useless ternary operator use
  Neos.Media.Browser/Classes/Controller/AssetController.php
Labels: P: Media Browser, T: PHP

#2342 BUGFIX: Copyrightnotice migration for postgres needs default value
  Neos.Media/Migrations/Postgresql/Version20181104152204.php
Labels: P: Media, T: Database

#2303 FEATURE: Hide property "target" of Neos.Neos.ShortCut depending on targetMode
  Neos.Neos/Configuration/NodeTypes.yaml
  Neos.Neos/Resources/Private/Schema/NodeTypes.schema.yaml
Labels: P: Neos

#2334 TASK: Fix documentation example for toggling visibility of properties in inspector
  Neos.Neos/Documentation/CreatingASite/NodeTypes/DynamicConfigurationProcessing.rst
Labels: T: Documentation
