Repository neos/neos-development-collection, pull requests merged in 2019-08, with the labels that each got.

#2465 FEATURE: Add PropertyValue node migration filter
  Neos.ContentRepository/Classes/Migration/Filters/PropertyValue.php
Labels: P: Content Repository, T: PHP

#2639 BUGFIX: Fix broken JS require implementation in Backend Modules
  Neos.Neos/Resources/Private/Templates/Backend/Module/Index.html
Labels: Bug

#2632 BUGFIX: Prevent deleting or rebasing the live workspace
  Neos.Neos/Classes/Command/WorkspaceCommandController.php
Labels: Bug, P: Neos

#2238 BUGFIX: Avoid inheritance on unset Fusion pathes
  Neos.Fusion/Classes/Core/Parser.php
  Neos.Fusion/Classes/Core/Runtime.php
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/ContentCache.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/Unset.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/UnsetTest.php
  Neos.Fusion/Tests/Unit/Core/ParserTest.php
Labels: !!! Next major, T: Fusion
