Repository neos/neos-development-collection, pull requests merged in 2019-03, with the labels that each got.

#2370 FEATURE: Add NodeLink fusion prototype
  Neos.Neos/Documentation/References/NeosFusionReference.rst
  Neos.Neos/Resources/Private/Fusion/DefaultFusion.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/NodeLink.fusion
Labels: Feature, P: Fusion

#2388 BUGFIX: Allow using font awesome brand icons in backend modules
  Neos.Neos/Resources/Private/Styles/_Mixins.scss
  Neos.Neos/Resources/Public/Styles/Includes-built.css
  Neos.Neos/Resources/Public/Styles/Neos.css
Labels: Bug, P: Neos

#2381 FEATURE: Add `Neos.Neos:MenuItems`, `Neos.Neos:DimensionMenuItems` and `Neos.Neos:BreadcrumbMenuItems` prototypes
  Neos.Neos/Classes/Fusion/AbstractMenuItemsImplementation.php
  Neos.Neos/Classes/Fusion/DimensionsMenuItemsImplementation.php
  Neos.Neos/Classes/Fusion/MenuItemsImplementation.php
  Neos.Neos/Documentation/References/NeosFusionReference.rst
  Neos.Neos/Resources/Private/Fusion/DefaultFusion.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/BreadcrumbMenuItems.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/DimensionsMenu.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/DimensionsMenuItems.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/Menu.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/MenuItems.fusion
  Neos.NodeTypes.Navigation/Resources/Private/Fusion/Root.fusion
Labels: Feature, P: Fusion

#2389 FEATURE: Add ``format`` option for image-prototypes, viewHelpers and presets
  Neos.Media/Classes/Domain/Model/ThumbnailConfiguration.php
  Neos.Media/Classes/Domain/Model/ThumbnailGenerator/ConvertImageThumbnailGenerator.php
  Neos.Media/Classes/Domain/Model/ThumbnailGenerator/ImageThumbnailGenerator.php
  Neos.Media/Classes/Domain/Service/ImageService.php
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
  Neos.Media/Classes/ViewHelpers/ImageViewHelper.php
  Neos.Media/Classes/ViewHelpers/Uri/ImageViewHelper.php
  Neos.Media/Configuration/Settings.yaml
  Neos.Media/composer.json
  Neos.Neos/Classes/Fusion/ImageUriImplementation.php
  Neos.Neos/Documentation/References/NeosFusionReference.rst
  Neos.Neos/Resources/Private/Fusion/Prototypes/ImageUri.fusion
  composer.json
Labels: Feature, P: Fusion, P: Media, help wanted

#2391 BUGFIX: Testing Policy has a working expression
  Neos.Neos/Configuration/Testing/Policy.yaml
Labels: P: Neos, T: Testing

#2401 BUGFIX: Remove coupling of functional tests to `Neos:Demo` and `Neos.NodeTypes`
  Neos.ContentRepository/Tests/Functional/Migration/Filters/NodeTypeTest.php
  Neos.Neos/Configuration/Testing/NodeTypes.yaml
  Neos.Neos/Tests/Functional/AbstractNodeTest.php
  Neos.Neos/Tests/Functional/Configuration/ConfigurationValidationTest.php
  Neos.Neos/Tests/Functional/Domain/Fixtures/NodeUriTestStructure.xml
  Neos.Neos/Tests/Functional/Domain/Service/Fixtures/Sites.xml
  Neos.Neos/Tests/Functional/Domain/Service/SiteImportExportServiceTest.php
  Neos.Neos/Tests/Functional/Fixtures/NodeStructure.xml
  Neos.Neos/Tests/Functional/FlowQueryOperations/Fixtures/SortableNodes.xml
  Neos.Neos/Tests/Functional/Fusion/Cache/ContentCacheFlusherTest.php
  Neos.Neos/Tests/Functional/Fusion/Cache/Fixtures/CacheableNodes.xml
  Neos.Neos/Tests/Functional/Fusion/Fixtures/AssetListTemplate.html
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Base.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/HeadlineTemplate.html
  Neos.Neos/Tests/Functional/Fusion/Fixtures/HtmlTemplate.html
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_AdditionalProcessorInPrototype.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_AdditionalProcessorInPrototype2.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_AppendingClassesToContent.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_OverriddenValueInNestedPrototype.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_OverriddenValueInNestedPrototype2.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_OverriddenValueInPrototype.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_PrototypeInheritance.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_ReplaceElementRenderingCompletelyBasedOnAdvancedCondition.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Test_ReplaceElementRenderingCompletelyInSidebar.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/TextTemplate.html
  Neos.Neos/Tests/Functional/Fusion/RenderingTest.php
Labels: P: Content Repository, P: Neos, P: Node Types, T: Testing

#2374 FEATURE: Add native 404 error rendering that can be controlled via Fusion
  Neos.Neos/Classes/View/FusionExceptionView.php
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Resources/Private/Fusion/DefaultFusion.fusion
Labels: Feature, P: Fusion, T: PHP

#2400 FEATURE: Add fallback from `itemRenderer` to `content` for `Neos.Fusion:Map` and derived prototypes
  Neos.Fusion/Classes/FusionObjects/MapImplementation.php
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/Map.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/MapTest.php
  Neos.Neos/Documentation/References/NeosFusionReference.rst
Labels: P: Fusion

#2396 FEATURE: Automatic image variants generation
  Neos.Media.Browser/Classes/Controller/AssetController.php
  Neos.Media.Browser/Classes/Controller/ImageController.php
  Neos.Media.Browser/Configuration/Policy.yaml
  Neos.Media.Browser/Configuration/Settings.yaml
  Neos.Media.Browser/Resources/Private/Layouts/Default.html
  Neos.Media.Browser/Resources/Private/Styles/Media/_Media.scss
  Neos.Media.Browser/Resources/Private/Templates/Asset/Edit.html
  Neos.Media.Browser/Resources/Private/Templates/Asset/Show.html
  Neos.Media.Browser/Resources/Private/Templates/Asset/Variants.html
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.css
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.min.css
  Neos.Media.Browser/package-lock.json
  Neos.Media.Browser/yarn.lock
  Neos.Media/Classes/Domain/Model/ImageVariant.php
  Neos.Media/Classes/Domain/Model/VariantSupportInterface.php
  Neos.Media/Classes/Domain/Repository/AssetRepository.php
  Neos.Media/Classes/Domain/Service/AssetService.php
  Neos.Media/Classes/Domain/Service/AssetVariantGenerator.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/Adjustment.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/AspectRatio.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/Label.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/MediaTypePattern.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/README.md
  Neos.Media/Classes/Domain/ValueObject/Configuration/Variant.php
  Neos.Media/Classes/Domain/ValueObject/Configuration/VariantPreset.php
  Neos.Media/Classes/Exception/AssetVariantGeneratorException.php
  Neos.Media/Classes/Package.php
  Neos.Media/Configuration/Settings.yaml
  Neos.Media/Documentation/VariantPresets.rst
  Neos.Media/Documentation/index.rst
  Neos.Media/Migrations/Mysql/Version20190314150744.php
  Neos.Media/Tests/Unit/Domain/Service/AssetServiceTest.php
  Neos.Media/Tests/Unit/Domain/Service/AssetVariantGeneratorTest.php
  Neos.Media/Tests/Unit/Domain/ValueObject/Configuration/AdjustmentTest.php
  Neos.Media/Tests/Unit/Domain/ValueObject/Configuration/AspectRatioTest.php
  Neos.Media/Tests/Unit/Domain/ValueObject/Configuration/MediaTypePatternTest.php
  Neos.Media/Tests/Unit/Domain/ValueObject/Configuration/PresetLabelTest.php
  Neos.Media/Tests/Unit/Domain/ValueObject/Configuration/VariantPresetTest.php
  Neos.Media/Tests/Unit/Domain/ValueObject/Configuration/VariantTest.php
  Neos.Neos/Resources/Public/Styles/Error.css
  Neos.Neos/Resources/Public/Styles/Includes-built.css
  Neos.Neos/Resources/Public/Styles/Login.css
  Neos.Neos/Resources/Public/Styles/Neos.css
  Neos.Neos/Scripts/package-lock.json
Labels: P: Media, P: Media Browser, T: JS, T: PHP, T: UX

#2410 TASK: Add PgSQL migration to support variant presets
  Neos.Media/Migrations/Postgresql/Version20190314150745.php
Labels: P: Media, T: Database

#2404 BUGFIX: Allow translation of the textareaeditor placeholder
  Neos.Neos/Classes/Aspects/NodeTypeConfigurationEnrichmentAspect.php
Labels: Bug

#2390 FEATURE: Trigger signal when Thumbnail is persisted
  Neos.Media/Classes/Domain/Model/Thumbnail.php
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
Labels: Feature, P: Media
