Repository neos/neos-development-collection, pull requests merged in 2020-12, with the labels that each got.

#3235 TASK: Throw fusion exception with explanation also for afx parser errors
  Neos.Fusion.Afx/Classes/Dsl/AfxDslImplementation.php
Labels: P: Fusion, T: PHP

#3243 TASK: Tweak generated change log for 7.0.0
  Neos.Neos/Documentation/Appendixes/ChangeLogs/700.rst
Labels: P: Neos, T: Documentation

#3251 BUGFIX: Avoid possible exception during sitemap rendering
  Neos.Neos/Classes/Fusion/DimensionsMenuItemsImplementation.php
Labels: P: Neos, T: PHP
