Repository neos/neos-development-collection, pull requests merged in 2020-04, with the labels that each got.

#2577 FEATURE: Allow more than one authentication provider
  Neos.Neos/Classes/Domain/Service/UserService.php
  Neos.Neos/Classes/Service/UserService.php
  Neos.Neos/Tests/Unit/Service/UserServiceTest.php
Labels: Feature

#2937 FEATURE: Icons and description for asset sources
  Neos.Media.Browser/Resources/Private/Styles/Media/_Media.scss
  Neos.Media.Browser/Resources/Private/Templates/Asset/Index.html
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.css
  Neos.Media/Classes/Domain/Model/AssetSource/AssetSourceInterface.php
  Neos.Media/Classes/Domain/Model/AssetSource/Neos/NeosAssetSource.php
  Neos.Media/Configuration/Settings.yaml
  Neos.Media/Resources/Public/Icons/NeosWhite.svg
Labels: Feature, P: Media, T: PHP, T: UX

#2887 FEATURE: Reduce backend load time with nodetype schema cache
  Neos.Neos/Classes/Controller/Backend/SchemaController.php
  Neos.Neos/Configuration/Caches.yaml
  Neos.Neos/Configuration/Objects.yaml
Labels: Feature

#2930 FEATURE: Nested Tags
  Neos.Media/Classes/Domain/Model/Tag.php
  Neos.Media/Classes/Domain/Repository/TagRepository.php
  Neos.Media/Migrations/Mysql/Version20200306233229.php
  Neos.Media/Migrations/Postgresql/Version20200307122055.php
  Neos.Media/Tests/Functional/Domain/Model/TagTest.php
  Neos.Media/Tests/Functional/Domain/Repository/TagRepositoryTest.php
Labels: Feature, P: Media, T: PHP

#2738 TASK: Fusion performance optimization (lazy Component props)
  Neos.Fusion/Classes/Core/Runtime.php
  Neos.Fusion/Classes/FusionObjects/ComponentImplementation.php
  Neos.Fusion/Classes/FusionObjects/Helpers/LazyProps.php
  Neos.Fusion/Tests/Functional/FusionObjects/ApplyTest.php
  Neos.Fusion/Tests/Functional/FusionObjects/ComponentTest.php
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/Apply.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/Component.fusion
  Neos.Fusion/Tests/Unit/FusionObjects/Helpers/LazyPropsTest.php
Labels: P: Fusion, T: PHP

#2409 BUGFIX: change regex for selecting `<a href="">` Tag
  Neos.Neos/Classes/Fusion/ConvertUrisImplementation.php
  Neos.Neos/Tests/Unit/Fusion/ConvertUrisImplementationTest.php
Labels: Bug, P: Neos, T: PHP

#2740 BUGFIX: NodeType inheritance is not working correct
  Neos.ContentRepository/Classes/Domain/Model/NodeType.php
  Neos.Neos/Classes/Aspects/NodeTypeConfigurationEnrichmentAspect.php
Labels: P: Content Repository, P: Neos, T: PHP

#2957 BUGFIX: Prevent exception in asset usage view via editor
  Neos.Media.Browser/Configuration/Views.yaml
Labels: Bug
