Repository neos/neos-development-collection, pull requests merged in 2020-11, with the labels that each got.

#2715 !!!TASK: Adjust constraints of `Neos.Neos:ContentCollection` to allow `Content` instead of denying `Document`
  Neos.Neos/Configuration/NodeTypes.ContentCollection.yaml
  Neos.Neos/Configuration/Testing/NodeTypes.yaml
  Neos.Neos/Tests/Functional/Fixtures/NodeStructure.xml
Labels: !!! Next major, P: Node Types

#3087 FEATURE: Introduce NodeTypePresetPostprocessor
  Neos.Neos/Classes/Aspects/NodeTypeConfigurationEnrichmentAspect.php
  Neos.Neos/Classes/NodeTypePostprocessor/DefaultPropertyEditorPostprocessor.php
  Neos.Neos/Classes/NodeTypePostprocessor/IconNameMappingPostprocessor.php
  Neos.Neos/Classes/NodeTypePostprocessor/NodeTypePresetPostprocessor.php
  Neos.Neos/Configuration/NodeTypes.Node.yaml
Labels: Feature, P: Node Types

#3134 FEATURE: Add StaticResource helper to Fusion defaults
  Neos.Fusion/Configuration/Settings.yaml
Labels: P: Fusion

#3149 FEATURE: Lazy loading images
  Neos.Media/Classes/ViewHelpers/ImageViewHelper.php
  Neos.Media/Documentation/References/ViewHelpers.rst
  Neos.Neos/Documentation/References/NeosFusionReference.rst
  Neos.Neos/Resources/Private/Fusion/Prototypes/ImageUri.fusion
  Neos.NodeTypes/Resources/Private/Fusion/NodeTypes/Image.fusion
  Neos.NodeTypes/Resources/Private/Templates/NodeTypes/Partials/SimpleImage.html
Labels: !!! Next major, P: Media, P: Neos, P: Node Types

#3166 !!! FEATURE: Respect language plurals also in XliffService
  Neos.Neos/Classes/Service/XliffService.php
  Neos.Neos/Resources/Public/JavaScript/LegacyUiBootstrap-built.js
  Neos.Neos/Resources/Public/JavaScript/Shared/I18n.js
Labels: Feature, P: Neos

#3168 !!! FEATURE: Faster frontend routing
  Neos.Neos/Classes/Domain/Repository/SiteRepository.php
  Neos.Neos/Classes/Routing/FrontendNodeRoutePartHandler.php
  Neos.Neos/Classes/Routing/RequestUriHostMiddleware.php
  Neos.Neos/Classes/Service/LinkingService.php
  Neos.Neos/Configuration/Routes.Frontend.yaml
  Neos.Neos/Configuration/Routes.yaml
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Tests/Functional/Service/LinkingServiceTest.php
  Neos.Neos/Tests/Functional/ViewHelpers/Link/NodeViewHelperTest.php
  Neos.Neos/Tests/Functional/ViewHelpers/Uri/NodeViewHelperTest.php
  Neos.Neos/Tests/Unit/Routing/FrontendNodeRoutePartHandlerTest.php
Labels: Feature, P: Neos, T: PHP

#3172 !!! TASK: Raise minimum PHP version to 7.3
  Neos.ContentRepository/composer.json
  Neos.Diff/composer.json
  Neos.Fusion/composer.json
  Neos.Media.Browser/composer.json
  Neos.Media/composer.json
  Neos.Neos/Tests/Unit/Fusion/PluginImplementationTest.php
  Neos.Neos/composer.json
  Neos.NodeTypes.Form/composer.json
  Neos.SiteKickstarter/composer.json
  composer.json
Labels: Feature, dependencies

#3180 BUGFIX: Adjust to typed persistence code
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
  Neos.Media/Classes/Domain/Repository/AssetRepository.php
  Neos.Neos/Classes/EventLog/Domain/Repository/EventRepository.php
Labels: P: Content Repository, P: Media, T: PHP

#3182 TASK: Remove use of resolveShortcuts argument
  Neos.Neos/Classes/Service/LinkingService.php
  Neos.Neos/Classes/ViewHelpers/Link/NodeViewHelper.php
  Neos.Neos/Classes/ViewHelpers/Uri/NodeViewHelper.php
Labels: P: Neos, T: PHP

#3183 BUGFIX: Adjust NodeIdentityConverterAspect to typed persistence
  Neos.Neos/Classes/Routing/FrontendNodeRoutePartHandler.php
  Neos.Neos/Classes/Routing/NodeIdentityConverterAspect.php
Labels: P: Neos, T: PHP

#3174 BUGFIX: Flush 1st level node caches after publishing
  Neos.ContentRepository/Classes/Package.php
Labels: Bug, P: Content Repository, T: PHP

#3147 BUGFIX: Use autorotate filter to apply resize adjustments properly to images with exif-orientations
  Neos.Media/Classes/Domain/Model/Adjustment/ResizeImageAdjustment.php
  Neos.Media/Classes/Domain/Service/ImageService.php
Labels: Bug, P: Media

#3188 TASK: Rename TYPO3CR where possible
  Neos.ContentRepository/Classes/TypeConverter/NodeConverter.php
  Neos.ContentRepository/Classes/ViewHelpers/Widget/PaginateViewHelper.php
  Neos.ContentRepository/Migrations/ContentRepository/Version20120725073211.yaml
  Neos.ContentRepository/Migrations/ContentRepository/Version20140326143834.yaml
  Neos.ContentRepository/Migrations/ContentRepository/Version20140516221523.yaml
  Neos.ContentRepository/Migrations/ContentRepository/Version20140708120530.yaml
  Neos.ContentRepository/Migrations/ContentRepository/Version20150716212459.yaml
  Neos.ContentRepository/Tests/Functional/Domain/Repository/NodeDataRepositoryTest.php
  Neos.ContentRepository/Tests/Unit/Domain/Model/NodeTypeTest.php
  Neos.Neos/Migrations/ContentRepository/Version20120921140942.yaml
  Neos.Neos/Migrations/ContentRepository/Version20140723115900.yaml
  Neos.Neos/Migrations/ContentRepository/Version20140930125621.yaml
  Neos.Neos/Migrations/ContentRepository/Version20141103100401.yaml
  Neos.Neos/Migrations/ContentRepository/Version20150907194505.yaml
  Neos.Neos/Resources/Private/Schema/NodeTypes.schema.yaml
  Neos.Neos/Tests/Behavior/Features/Bootstrap/HistoryDefinitionsTrait.php
  Neos.NodeTypes/Migrations/ContentRepository/Version20121030105142.yaml
  Neos.NodeTypes/Migrations/ContentRepository/Version20130326131600.yaml
  Neos.NodeTypes/Migrations/ContentRepository/Version20130515214324.yaml
  Neos.NodeTypes/Migrations/ContentRepository/Version20130516212400.yaml
  Neos.NodeTypes/Migrations/ContentRepository/Version20130911165510.yaml
  Neos.NodeTypes/Migrations/ContentRepository/Version20141210114800.yaml
Labels: !!! Next major, P: Content Repository, T: PHP

#3152 BUGFIX: Respect already defined attributes in Neos.Neos:ConvertUris
  Neos.Neos/Classes/Fusion/ConvertUrisImplementation.php
  Neos.Neos/Resources/Private/Fusion/Prototypes/ConvertUris.fusion
  Neos.Neos/Tests/Unit/Fusion/ConvertUrisImplementationTest.php
Labels: P: Neos, T: Fusion, T: PHP
