Repository neos/neos-development-collection, pull requests merged in 2020-05, with the labels that each got.

#2978 BUGFIX: Revert ContentCollection constraint change
  Neos.Neos/Configuration/NodeTypes.ContentCollection.yaml
Labels: Bug

#2976 BUGFIX: Respect fallback rule "strictness" in FusionView
  Neos.Neos/Classes/View/FusionExceptionView.php
  Neos.Neos/Classes/View/FusionView.php
  Neos.Neos/Classes/View/FusionViewI18nTrait.php
Labels: P: Neos, T: PHP

#2982 BUGFIX: Passing glue string after array is deprecated
  Neos.ContentRepository/Classes/Eel/FlowQueryOperations/ChildrenOperation.php
Labels: Bug, P: Neos, T: PHP
