Repository neos/neos-development-collection, pull requests merged in 2020-02, with the labels that each got.

#2893 BUGFIX: Respect arguments value as defined in Neos.Neos:NodeUri
  Neos.Neos/Classes/Fusion/NodeUriImplementation.php
  Neos.Neos/Resources/Private/Fusion/Prototypes/NodeUri.fusion
Labels: Bug, P: Neos, T: PHP

#2877 TASK: Pass on previous exception in getImageSize()
  Neos.Media/Classes/Domain/Service/ImageService.php
Labels: P: Media, T: PHP

#2859 BUGFIX: Convert DateTimeImmutable "Now" into DateTime for account deactivation
  Neos.Neos/Classes/Domain/Service/UserService.php
Labels: P: Neos, T: PHP

#2898 BUGFIX: Replace baseUri in cache identifiers
  Neos.Fusion/Classes/Eel/BaseUriHelper.php
  Neos.Fusion/Configuration/Settings.yaml
  Neos.Fusion/Resources/Private/Fusion/Root.fusion
Labels: P: Fusion, T: PHP

#2835 FEATURE: Keep tags and collections of assets when exporting sites
  Neos.Media/Classes/Domain/Model/Asset.php
  Neos.Media/Classes/Domain/Model/AssetCollection.php
  Neos.Media/Classes/TypeConverter/ArrayConverter.php
  Neos.Media/Classes/TypeConverter/AssetCollectionToArrayConverter.php
  Neos.Media/Classes/TypeConverter/TagConverter.php
  Neos.Media/Classes/TypeConverter/TagToArrayConverter.php
Labels: P: Media, T: PHP

#2903 BUGFIX: Make getThumbnail() return type nullable
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
Labels: Bug, P: Media, T: PHP

#2901 TASK: Fix validation warnings/errors on .travis.yml
  .travis.yml
Labels: T: Testing

#2892 BUGFIX: re-add lost variants update functionality
  Neos.Media/Classes/Domain/Service/AssetService.php
  Neos.Media/Tests/Functional/Domain/Service/AssetServiceTest.php
  Neos.Media/Tests/Functional/Fixtures/Resources/neos_avatar_primary.png
Labels: Bug, P: Media, T: PHP

#2911 TASK: Remove unused code
  Neos.Media.Browser/Classes/Controller/AssetController.php
Labels: P: Media Browser, T: PHP

#2912 TASK: Remove unused template
  Neos.Media.Browser/Resources/Private/Templates/Asset/RelatedNodes.html
Labels: P: Media Browser

#2917 BUGFIX: Access tags of asset in media list view
  Neos.Media.Browser/Resources/Private/Partials/ListView.html
Labels: P: Media Browser

#2910 BUGFIX: Flush content cache on image variant change
  Neos.Media/Classes/Domain/Service/AssetService.php
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
  Neos.Neos/Classes/Package.php
Labels: P: Media, P: Neos, T: PHP

#2922 BUGFIX: Have NeosAssetProxy return resource on getImportStream
  Neos.Media.Browser/Resources/Private/Partials/ContentDefaultPreview.html
  Neos.Media.Browser/Resources/Private/Partials/ContentPdfPreview.html
  Neos.Media.Browser/Resources/Private/Templates/Asset/Edit.html
  Neos.Media.Browser/Resources/Private/Templates/Asset/Show.html
  Neos.Media/Classes/Domain/Model/AssetSource/AssetProxy/ProvidesOriginalUriInterface.php
  Neos.Media/Classes/Domain/Model/AssetSource/Neos/NeosAssetProxy.php
Labels: P: Media, P: Media Browser, T: PHP

#2920 BUGFIX: Don’t use technical workspace name in the UI
  Neos.Neos/Resources/Private/Templates/Module/Management/Workspaces/Index.html
Labels: Bug
