Repository neos/neos-development-collection, pull requests merged in 2020-01, with the labels that each got.

#2855 BUGFIX: Hide inaccessible backend modules
  Neos.Neos/Classes/ViewHelpers/Backend/IfModuleAccessibleViewHelper.php
  Neos.Neos/Resources/Private/Partials/Module/SubmoduleOverview.html
Labels: P: Neos, T: PHP

#2861 BUGFIX: Fix regression breaking login to Neos
  Neos.Neos/Classes/Controller/LoginController.php
Labels: Bug, P: Neos, T: PHP

#2804 TASK: PHP 7.4 compatibility
  .travis.yml
  Neos.ContentRepository/Classes/TypeConverter/NodeConverter.php
  Neos.Fusion/Classes/Core/Runtime.php
  Neos.Media/Tests/Unit/Domain/Model/Adjustment/CropImageAdjustmentTest.php
  Neos.Neos/Tests/Unit/Fusion/PluginImplementationTest.php
Labels: T: PHP

#2841 BUGFIX: xhr request in backend modules
  Neos.Neos/Resources/Public/JavaScript/Main.min.js
  Neos.Neos/Resources/Public/JavaScript/Shared/NodeTypeService.js
  Neos.Neos/Resources/Public/Styles/Error.css
  Neos.Neos/Resources/Public/Styles/Login.css
Labels: Bug, P: Neos, T: JS

#2883 BUGFIX: Keep configured creationDialog elements
  Neos.Neos/Classes/NodeTypePostprocessor/CreationDialogPostprocessor.php
Labels: Bug, P: Neos, T: PHP
