Repository neos/neos-development-collection, pull requests merged in 2020-08, with the labels that each got.

#3015 !!! BUGFIX: Speed up node move actions
  Neos.ContentRepository/Classes/Domain/Model/Node.php
  Neos.ContentRepository/Classes/Domain/Model/NodeData.php
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
  Neos.ContentRepository/Tests/Functional/Domain/LayeredWorkspacesTest.php
Labels: Bug, P: Content Repository, P: Neos

#2921 TASK: Add types to workspace model
  Neos.ContentRepository/Classes/Domain/Model/Workspace.php
  Neos.Neos/Classes/Utility/User.php
Labels: P: Neos, T: PHP

#2998 BUGFIX: Make child nodes of hidden parents inaccessible
  Neos.Neos/Classes/Routing/FrontendNodeRoutePartHandler.php
Labels: Bug, P: Neos, T: PHP

#2302 BUGFIX: Prevent refetching nodes for policy checks
  Neos.ContentRepository/Classes/Security/Authorization/Privilege/Node/NodePrivilegeContext.php
  Neos.ContentRepository/Classes/Security/Authorization/Privilege/Node/TransientNodeCache.php
Labels: P: Content Repository, T: PHP

#3009 FEATURE: Make login controller view configurable using Views.yaml
  Neos.Neos/Classes/Controller/LoginController.php
  Neos.Neos/Configuration/Views.yaml
Labels: Feature, P: Neos

#2322 FEATURE: User management for non-admins
  Neos.Neos/Classes/Controller/Module/Administration/UsersController.php
  Neos.Neos/Classes/Domain/Service/UserService.php
  Neos.Neos/Classes/ViewHelpers/Backend/IsAllowedToEditUserViewHelper.php
  Neos.Neos/Configuration/Policy.yaml
  Neos.Neos/Resources/Private/Templates/Module/Administration/Users/Index.html
  Neos.Neos/Resources/Private/Templates/Module/Administration/Users/Show.html
  Neos.Neos/Resources/Private/Translations/en/Modules.xlf
Labels: Feature, P: Neos, T: PHP

#2772 TASK: Remove deprecated code use from ContentCollectionRenderer
  Neos.Neos/Resources/Private/Fusion/Prototypes/ContentCollection.fusion
Labels: P: Neos, T: Fusion

#3091 BUGFIX: Migrate media browser icons
  Neos.Media/Migrations/Mysql/Version20200823164700.php
  Neos.Media/Migrations/Postgresql/Version20200823164701.php
Labels: P: Media, T: Database
