Repository neos/neos-development-collection, pull requests merged in 2021-09, with the labels that each got.

#3439 BUGFIX: Adjust assetsource icon color on hover and active
  Neos.Media.Browser/Resources/Private/Styles/Media/_Media.scss
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.css
  Neos.Media.Browser/Resources/Public/Styles/MediaBrowser.min.css
Labels: T: UX, P: Media Browser

#3431 BUGFIX: Make test actually test what is says it tests
  Neos.Neos/Tests/Functional/Controller/Backend/BackendControllerSecurityTest.php
Labels: P: Neos, T: PHP, T: Testing

#3446 BUGFIX: Use Testing/Behat for DB setup in Behat steps
  .github/workflows/build.yml
Labels: T: Testing

#3448 TASK: Add release notes for Neos 7.2
  Neos.Neos/Documentation/Appendixes/ReleaseNotes/720.rst
Labels: P: Neos, T: Documentation
