Repository neos/neos-development-collection, pull requests merged in 2021-04, with the labels that each got.

#3321 FEATURE: Fusion match object
  Neos.Fusion/Classes/FusionObjects/MatchImplementation.php
  Neos.Fusion/Resources/Private/Fusion/Match.fusion
  Neos.Fusion/Resources/Private/Fusion/Root.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/Match.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/MatchTest.php
  Neos.Neos/Documentation/References/NeosFusionReference.rst
Labels: Feature, P: Fusion

#3255 FEATURE: Add Neos.Fusion:Link.Action and Link.Resource prototypes
  Neos.Fusion/Resources/Private/Fusion/Root.fusion
Labels: Feature, P: Fusion

#3328 FEATURE: Add node label helper
  Neos.Neos/Classes/Fusion/Helper/NodeHelper.php
  Neos.Neos/Classes/Fusion/Helper/NodeLabelToken.php
  Neos.Neos/Configuration/NodeTypes.Node.yaml
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Fusion/NodeHelper.fusion
  Neos.Neos/Tests/Functional/Fusion/Fixtures/Fusion/Root.fusion
  Neos.Neos/Tests/Functional/Fusion/NodeHelperTest.php
Labels: P: Neos

#3330 BUGFIX: Fix support for NodeType presets in the Creation Dialog
  Neos.Neos/Configuration/NodeTypes.Content.yaml
  Neos.Neos/Configuration/NodeTypes.Document.yaml
Labels: P: Neos, T: Fusion

#2924 BUGFIX: getAssetProxy failed for local assets
  Neos.Media/Classes/Domain/Model/Asset.php
  Neos.Media/Tests/Functional/Domain/Model/AssetTest.php
Labels: Bug
