Repository neos/neos-development-collection, pull requests merged in 2021-11, with the labels that each got.

#3478 FEATURE: Introduce ThumbnailRefreshed signal to the Neos.Media package
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
Labels: hacktoberfest-accepted

#2981 BUGFIX: Only use accounts that have Neos users attached
  Neos.Neos/Classes/Domain/Service/UserService.php
Labels: P: Neos, T: PHP, I: Discussion‌‌

#3501 BUGFIX: Fix two errors in Modules.xlf
  Neos.Neos/Resources/Private/Translations/en/Main.xlf
  Neos.Neos/Resources/Private/Translations/en/Modules.xlf
Labels: P: Neos

#3503 BUGFIX: Fix wrong translation strings
  Neos.Neos/Resources/Private/Translations/en/Modules.xlf
Labels: P: Neos

#3481 FEATURE: Show asset collections and tag for read-only asset sources
  Neos.Media.Browser/Resources/Private/Templates/Asset/Index.html
Labels: P: Media Browser, Feature

#3436 BUGFIX: Prevent exception when deleting an electronic address
  Neos.Neos/Classes/Controller/Module/Administration/UsersController.php
Labels: P: Neos, T: PHP, hacktoberfest-accepted

#3421 BUGFIX: Improve message for node property conversion errors
  Neos.ContentRepository/Classes/Domain/Model/Node.php
  Neos.ContentRepository/Tests/Unit/Domain/Model/NodeTest.php
Labels: hacktoberfest-accepted

#3135 FEATURE: Allow the format `avif` for thumbnail generation.
  Neos.Media/Classes/Domain/Model/ThumbnailConfiguration.php
  Neos.Media/Classes/Domain/Service/ImageService.php
Labels: Feature

#3428 Feature: AFX shorthand for @if and @process / generate keys
  Neos.Fusion.Afx/Classes/Service/AfxService.php
  Neos.Fusion.Afx/Tests/Functional/AfxServiceTest.php
Labels: Feature, hacktoberfest-accepted

#3505 FEATURE: Add Neos.CliSetup package
  Neos.CliSetup/Classes/Command/SetupCommandController.php
  Neos.CliSetup/Classes/Command/WelcomeCommandController.php
  Neos.CliSetup/Classes/Exception.php
  Neos.CliSetup/Classes/Infrastructure/Database/DatabaseConnectionService.php
  Neos.CliSetup/Classes/Infrastructure/ImageHandler/ImageHandlerService.php
  Neos.CliSetup/Configuration/Settings.yaml
  Neos.CliSetup/LICENSE
  Neos.CliSetup/Readme.rst
  Neos.CliSetup/composer.json
  composer.json
Labels: Feature

#3450 !!! BUGFIX: Always show current node in breadcrumb
  Neos.Neos/Resources/Private/Fusion/Prototypes/BreadcrumbMenu.fusion
  Neos.Neos/Resources/Private/Fusion/Prototypes/BreadcrumbMenuItems.fusion
Labels: hacktoberfest-accepted

#3476 Prevent disconnected Node Variants when moving a document, in a setup with dimensions
  Neos.ContentRepository/Classes/Domain/Model/Node.php
  Neos.ContentRepository/Classes/Domain/Service/Dto/NodeMoveIntegrityCheckResult.php
  Neos.ContentRepository/Classes/Domain/Service/Dto/NodeMoveIntegrityCheckResultPart.php
  Neos.ContentRepository/Classes/Domain/Service/NodeMoveIntegrityCheckService.php
  Neos.ContentRepository/Classes/Exception/NodeMoveIntegrityViolationException.php
  Neos.ContentRepository/Tests/Behavior/Features/Bootstrap/NodeOperationsTrait.php
  Neos.ContentRepository/Tests/Behavior/Features/Crazy/PreventDisconnectedNodesWhenMovingDimensionsWithFallbacks.feature
  Neos.ContentRepository/Tests/Behavior/Features/Crazy/PreventDisconnectedNodesWhenMovingDimensionsWithoutFallbacks.feature
Labels: P: Content Repository, T: PHP

#3110 BUGFIX: Exclude "/sites"-node from dimension-migration
  Neos.ContentRepository/Migrations/TYPO3CR/Version20150716212459.yaml
Labels: P: Content Repository, Bug

#3463 TASK: Use indented heredoc syntax for AFX tests
  Neos.Fusion.Afx/Tests/Functional/AfxServiceTest.php
Labels: hacktoberfest-accepted

#3429 BUGFIX: Make NodeSearchService use new variable to search for identifier patterns
  Neos.Neos/Classes/Domain/Service/NodeSearchService.php
Labels: P: Neos, T: PHP, hacktoberfest-accepted

#3477 TASK: Create trace for absorbed exception
  Neos.Fusion/Classes/Core/ExceptionHandlers/AbsorbingHandler.php
Labels: P: Fusion, T: PHP
