Repository neos/neos-development-collection, pull requests merged in 2021-06, with the labels that each got.

#3354 BUGFIX: Avoid use of removed isMethodSafe()
  Neos.Neos/Classes/Service/Controller/NodeController.php
Labels: Bug, P: Neos, T: PHP

#3356 BUGFIX: Don’t evaluate reference nodes collection twice
  Neos.NodeTypes.ContentReferences/Resources/Private/Fusion/Root.fusion
  Neos.NodeTypes.ContentReferences/Resources/Private/Templates/NodeTypes/ContentReferences.html
Labels: Bug

#3357 BUGFIX: Skip unnecessary queries for nodedata
  Neos.ContentRepository/Classes/Domain/Model/Node.php
  Neos.ContentRepository/Classes/Domain/Repository/NodeDataRepository.php
Labels: Bug, P: Content Repository, T: Database, T: PHP

#3350 BUGFIX: Deletion of assets from media overview works again
  Neos.Media.Browser/Configuration/Settings.yaml
  Neos.Media.Browser/Resources/Private/Layouts/Default.html
  Neos.Media.Browser/Resources/Public/JavaScript/collections-and-tagging.js
  Neos.Neos/Resources/Public/JavaScript/Main.min.js
  Neos.Neos/Resources/Public/JavaScript/Services/Configuration.js
  Neos.Neos/Resources/Public/JavaScript/Services/ResourceCache.js
Labels: P: Media Browser, T: JS, javascript
