Repository neos/neos-development-collection, pull requests merged in 2022-03, with the labels that each got.

#3583 BUGFIX: Persist Thumbnail using DBAL to avoid unique constraint errors
  Neos.Media/Classes/Domain/Repository/ThumbnailRepository.php
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
Labels: P: Media, T: PHP, T: Database, I: Discussion‌‌

#3574 BUGFIX: Only emit thumbnailCreated when successful
  Neos.Media/Classes/Domain/Service/ThumbnailService.php
Labels: P: Media, T: PHP

#3531 TASK: Add workspace/parent index to NodeEvent table
  Neos.Neos/Classes/EventLog/Domain/Model/Event.php
  Neos.Neos/Classes/EventLog/Domain/Model/NodeEvent.php
  Neos.Neos/Migrations/Mysql/Version20211220145601.php
  Neos.Neos/Migrations/Postgresql/Version20211220145602.php
Labels: P: Neos, T: Database

#3637 Remove @deprecated error renderingGroups options.
  Neos.Neos/Configuration/Settings.yaml
Labels: !!! Next major

#3366 BUGFIX: Use media type of new resource during asset replacement
  Neos.Media/Classes/Domain/Service/AssetService.php
Labels: P: Media, T: PHP, Bug

#3561 BUGFIX: Initialize assetCollections in ImageVariant
  Neos.Media/Classes/Domain/Model/ImageVariant.php
Labels: P: Media, T: PHP

#3631 FEATURE: Pass tags to be flushed to content cache backend
  Neos.Fusion/Classes/Core/Cache/ContentCache.php
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
  Neos.Neos/Classes/Routing/Cache/RouteCacheFlusher.php
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Tests/Unit/Fusion/Cache/ContentCacheFlusherTest.php
Labels: Feature

#3639 !!! FEATURE: Remove legacy cache tag support
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
  Neos.Neos/Migrations/Code/Version20220318111600.php
  Neos.Neos/Tests/Functional/Fusion/Cache/ContentCacheFlusherTest.php
  Neos.Neos/Tests/Unit/Fusion/Cache/ContentCacheFlusherTest.php
Labels: !!! Next major

#3650 FEATURE: Optimise cache tag generation before flushing content cache after publishing
  Neos.Neos/Classes/Fusion/Cache/ContentCacheFlusher.php
Labels: P: Neos

#3564 !!! BUGFIX: Prevent busting the configuration cache version when a user logs in or is updated
  Neos.Neos/Classes/Domain/EventListener/AccountPostEventListener.php
  Neos.Neos/Classes/ViewHelpers/Backend/ConfigurationCacheVersionViewHelper.php
  Neos.Neos/Configuration/Settings.yaml
Labels: P: Neos, Bug

#3684 BUGFIX: Remove unused nodetype configuration cache
  Neos.ContentRepository/Classes/Domain/Service/NodeTypeManager.php
  Neos.ContentRepository/Configuration/Caches.yaml
  Neos.ContentRepository/Configuration/Objects.yaml
  Neos.ContentRepository/Configuration/Production/Caches.yaml
  Neos.ContentRepository/Tests/Unit/Domain/Service/NodeTypeManagerTest.php
Labels: P: Content Repository, Bug

#3683 BUGFIX: Adjust code leading to deprecation warnings with PHP 8.1
  Neos.Fusion/Classes/FusionObjects/AbstractArrayFusionObject.php
  Neos.Fusion/Classes/FusionObjects/AbstractFusionObject.php
  Neos.Fusion/Classes/FusionObjects/Helpers/LazyProps.php
  Neos.Fusion/Tests/Unit/Core/Parser/ParserTest.php
  Neos.Fusion/Tests/Unit/Core/ParserTest.php
  Neos.Neos/Classes/Fusion/ConvertUrisImplementation.php
  Neos.Neos/Tests/Unit/Domain/Service/DomainMatchingStrategyTest.php
  Neos.Neos/Tests/Unit/Routing/FrontendNodeRoutePartHandlerTest.php
Labels: T: PHP

#3663 TASK: Fix Fusion Test And Make Them Test What They Say
  Neos.Fusion/Tests/Functional/FusionObjects/Fixtures/Fusion/NestedOverwritesAndProcessors.fusion
  Neos.Fusion/Tests/Functional/FusionObjects/NestedOverwritesAndProcessorsTest.php
Labels: Bug
