Repository neos/neos-development-collection, pull requests merged in 2022-07, with the labels that each got.

#3819 BUGFIX: Adds missing documentation
  Neos.Neos/Documentation/References/NodeMigrations.rst
Labels: T: Documentation

#3695 TASK: Run checks against current database versions
  .github/workflows/build.yml
  .github/workflows/postgresql-versions.yml
Labels: T: Database, T: Testing

#3783 BUGFIX: Check for Imagick in DocumentThumbnailGenerator
  Neos.Media/Classes/Domain/Model/ThumbnailGenerator/DocumentThumbnailGenerator.php
  Neos.Media/Configuration/Settings.yaml
Labels: P: Media, T: PHP

#3828 TASK: Continue on error in ThumbnailGeneratorStrategy
  Neos.Media/Classes/Domain/Strategy/ThumbnailGeneratorStrategy.php
Labels: P: Media, T: PHP

#3798 BUGFIX: Add raw content fallback renderer to prevent rendering exceptions
  Neos.Neos/Resources/Private/Fusion/RawContentMode.fusion
Labels: P: Neos, Bug

#3767 FEATURE: Refresh the rawContentMode
  Neos.Neos/Resources/Private/Fusion/RawContent/Document.fusion
  Neos.Neos/Resources/Private/Fusion/RawContent/Node.fusion
  Neos.Neos/Resources/Private/Fusion/RawContent/NodeChildren.fusion
  Neos.Neos/Resources/Private/Fusion/RawContent/NodeHeader.fusion
  Neos.Neos/Resources/Private/Fusion/RawContent/NodeProperties.fusion
  Neos.Neos/Resources/Private/Fusion/RawContent/NodeProperty.fusion
  Neos.Neos/Resources/Private/Fusion/RawContent/NodePropertyName.fusion
  Neos.Neos/Resources/Private/Fusion/RawContentMode.fusion
  Neos.Neos/Resources/Private/Styles/RawContentMode.scss
  Neos.Neos/Resources/Private/Templates/RawContentMode/FusionObjects/BreadcrumbMenu.html
  Neos.Neos/Resources/Private/Templates/RawContentMode/FusionObjects/ContentCollectionTemplate.html
  Neos.Neos/Resources/Private/Templates/RawContentMode/FusionObjects/GeneralContentCollectionRendering.html
  Neos.Neos/Resources/Private/Templates/RawContentMode/FusionObjects/Menu.html
  Neos.Neos/Resources/Private/Templates/RawContentMode/Page/Default.html
  Neos.Neos/Resources/Public/Styles/RawContentMode.css
  Neos.Neos/Resources/Public/Styles/RawContentMode.css.map
  Neos.NodeTypes.ColumnLayouts/Resources/Private/Fusion/Root.fusion
Labels: Feature
