Repository neos/neos-development-collection, pull requests merged in 2022-05, with the labels that each got.

#3800 TASK: Delete apigen.yml
  apigen.yml
Labels: T: Documentation

#3786 BUGFIX: Raise gedmo/doctrine-extensions dependency to ^3.5
  Neos.ContentRepository/composer.json
  composer.json
Labels: P: Content Repository, dependencies

#3802 BUGFIX: Do not treat every given value as string
  Neos.ContentRepository/Classes/Migration/Transformations/ChangePropertyValue.php
Labels: P: Content Repository, T: PHP
