Repository neos/neos-development-collection, pull requests merged in 2023-01, with the labels that each got.

#3563 BUGFIX: Skip constraints of abstract nodetypes in schema generation
  Neos.Neos/Classes/Service/NodeTypeSchemaBuilder.php
Labels: P: Node Types, Bug

#4000 BUGFIX: DOCS: typo in EelHelper Reference
  Neos.Neos/Documentation/References/EelHelpersReference.rst
Labels: T: Documentation, Bug

#4011 FEATURE: Allow including resources for all backend modules
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Resources/Private/Templates/Backend/Module/Index.html
  composer.json
Labels: P: Neos, Feature

#4012 BUGFIX: Add user module icon and description
  Neos.Neos/Configuration/Settings.yaml
  Neos.Neos/Resources/Private/Translations/de/Modules.xlf
  Neos.Neos/Resources/Private/Translations/en/Modules.xlf
Labels: Bug

#4006 BUGFIX: make sure NotoSans font is loaded correctly
  Neos.Neos/Resources/Public/Styles/Includes-built.css
  Neos.Neos/Resources/Public/Styles/Neos.css
Labels: Bug

#4022 BUGFIX: Fix case of sortBy parameter in UserService
  Neos.Neos/Classes/Domain/Service/UserService.php
Labels: 9.0

#4023 BUGFIX: Don’t use legcy editor name in example
  Neos.Neos/Documentation/References/PropertyEditorReference.rst
Labels: T: Documentation
